{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

<div class="col-md-8 col-md-offset-2">
    <h1>Runestone Academy Advertising</h1>
    <p>The mission of Runestone Academy is to democratize textbooks for the 21st century</p>

<h2>Why do I see Ads?</h2>

<p>Sorry, we don't like ads very much either.  And let me be very clear.  <strong>We will not show ads to students who are registered with Runestone and are part of a course.</strong>  But the fact of the matter is that nothing is really free.  The server costs alone for Runestone Academy are over $1000 each month.  We have to pay our bills.  In modern times you cannot run a website for educational purposes and not carry cyber insurance.  That also costs money.  So we need some ways for Runestone to generate revenue.</p>

<p>Once you have created an account and logged in to Runestone you will no longer see ads. We don't sell your registration information or even use it to pump up ad revenue.  The only reason we ask for your email address is so that you can reset your password when you forget it.  First and last names are only used if you are enrolled in a course through an educational institution and then it is only for your instructor's use.</p>

<h2>Where does Runestone Revenue come from?</h2>

<p>
    <ul>
        <li>Seving Ads -- This is our one semi-predictable revenue stream. About 40% of our traffic comes from search engine hits.  I don't mind showing and ad to those users.  But it doesn't make a great first impression if you are a teacher wondering about using the platform.</li>
        <li>Reader donations.  Despite having great quality content, and getting great reviews from students and teachers alike, less than 1% of our readers donate.  Its a sad fact of our era that people just expect things to be free without stopping to think about where it comes from and who produces it.</li>
        <li>Institutional Support -  A small number of schools send money to support the cause.  It would be great if every course just sent us $100.  Then we could eliminate ads entirely.  I know not every school can afford $100, but I think a lot of them could.</li>
        <li>Grant Support from NSF and corporate foundations.  One of the reasons we became a non-profit is so that we can utilize corporate grants in support of STEM education.  But we need to also show these corporations that we have a plan for sustainability.  Living off grants is not sustainable.</li>
    </ul>
</p>

<h2>Why don't you just charge every student $10?</h2>
<p>That is not our mission.</p>
</div>
