{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{block moreincludes}}
<style>
    #ppBody {
        font-size: 14pt;
        font-family: sans-serif;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }

    #ppHeader {
        font-family: verdana sans-serif;
        font-size: 24pt;
        width: 80%;
        margin: 0 auto;
    }

    .ppConsistencies {
        display: none;
    }
</style>
{{end}}

<h1>Additional Information for California Residents</h1>

<p>
    Note that in 2019 Runestone did not meet the CCPA definition for a business. We did not have gross revenues of at
    least 25 million USD. We fell just short of the 50,000 consumers (registered users) and we did not make any revenue
    from selling personal information. Nor will we ever sell or share your personal information. We anticipate that we
    will cross 50,000 users for 2020, therefore we are planning
    in advance for CCPA to apply. The chances of CCPA applying to us in a meaninful way are very small, as we do not
    sell or share any personal information with anyone. Please see our <a href="privacy">privacy
        policy</a> for the details.
</p>

<p>We do not sell your personal information to third parties.</p>

<p>We do not collect personal information from consumers that we know are younger than 13 years old.</p>

<p>Requests for Deletion, Copy and Right to Know Your Information. California consumers have the right to make the
    following requests, which we endeavor to honor from non-California residents as well:</p>
<ul>
    <li> Deletion. You have the right to request deletion of personal information that we have collected about you. You
        can do this by editing your profile and using the account deletion option.</li>
    <li>Copy and Right to Know. You have the right to request a copy of the specific pieces of personal information
        that we have collected about you over the past 12 months, including the categories of information, sources, and
        purposes of collection. As well as any researches we may have shared anonymized data with. You an see what we
        have saved about you for any component by downloading your personal log from the Student Progress page, and for
        any activecode by looking using the history slider on the activecode.</li>

    <li> Designated Agent. You may designate an agent to make a request on your behalf. That agent must have access to
        your account in order for us to verify the request.</li>
</ul>

<p>Non-Discrimination. Runestone will not discriminate against you, including by denying or providing a different level
    or quality of goods or services should you choose to exercise your options under the CCPA.</p>

</body>

</html>