{{user_navs = True}}
{{extend 'layout.html'}}

{{block statusbar}}
{{end}}


<div class=".container">
    <div style="text-align:center;">

        <h1>Course Selection</h1>
        <p style="margin-left: 10%; margin-right: 10%">If you ended up here unexpectedly it is because you are logged
            in, but trying to access a course that you have not registered for. This is for your own good. You can click
            on the <code>Enroll in a Course</code> button and register for the course on the profile page. You do this
            by typing the name of the course into the Course Name box.</p>
        <p>Choose your course. If you want to add a new course, click Add Another Course then change the course name in
            your profile.</p>
        {{for course in courses:}}
            {{if course != 'boguscourse':}}
            <form action="/{{=request.application}}/default/coursechooser/{{=course}}" method="post">
                <button class="ac_opt book-btn btn btn-default" type="submit" name=course
                    value={{=course}}>{{=course}}</button><br />
            </form>
            {{pass}}
        {{pass}}
        <form action="/{{=request.application}}/default/user/profile">
            <button class="ac_opt course-btn btn btn-default"> Enroll in a Course</button>
        </form>
        <form action="/{{=request.application}}/default/remove" method="post">
            <button class="ac_opt course-btn btn btn-default" name="remove" type="submit">Drop a Course</button>
        </form>
            {{pass}}
        {{pass}}
    </div>
</div>
