{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{block moreincludes}}
    <style>
        #ppBody {
            font-size: 14pt;
            font-family: sans-serif;
            width: 80%;
            margin: 0 auto;
            text-align: justify;
        }

        #ppHeader {
            font-family: verdana sans-serif;
            font-size: 24pt;
            width: 80%;
            margin: 0 auto;
        }

        .ppConsistencies {
            display: none;
        }
    </style>
{{end}}

<h1>Terms of Service Addendum for Schools in Connecticut</h1>

<p>
    For the purposes of this Agreement, “directory information,” “de-identified student
    information,” “school purposes,” “student information,” “student records,” “studentgenerated content,” and “targeted advertising” shall be as defined by Conn. Gen.
    Stat. § 10-234aa.
</p>

<ol>
<li>
    All student records, student information, and student-generated content
    (collectively, “student data”) provided or accessed pursuant to the contract are
    not the property of, or under the control of, the Contractor.
 </li>


<li> The Board shall have access to and the ability to delete student data in the
possession of the Contractor except in instances where such data is (A)
otherwise prohibited from deletion or required to be retained under state or
federal law, or (B) stored as a copy as part of a disaster recovery storage system
and that is (i) inaccessible to the public, and (ii) unable to be used in the normal
course of business by the Contractor. The Board may request the deletion of any
such student information, student records or student-generated content if such
copy has been used by the operator to repopulate accessible data following a
disaster recovery. The Board may request the deletion of student data by:
<ul>
    <li>Sending an email from a verified instructor email address to runestoneinteractive@gmail.com </li>
    <li>Students can also delete their own accounts and all associated data from the
        student Profile Page at any time</li>
</ul>
</li>

<li> The Contractor shall not use student data for any purposes other than those
authorized pursuant to the Runestone Academy Terms of Service and Privacy Policy.</li>

<li> A student, parent or legal guardian of a student may review personally
identifiable information contained in student data and correct any erroneous
information, if any, in such student data. He or she may do so by editing the
student profile on the Runestone Academy website.</li>

<li> The Contractor shall take actions designed to ensure the security and
confidentiality of student data.</li>

<li> The Contractor will notify the Board, in accordance with Conn. Gen. Stat. § 10-
234dd, when there has been an unauthorized release, disclosure or acquisition of
student data. Such notification will include the following steps:
<ol>
    <li>The instructor of the course will be notified within 1 week of discovery</li>
</ol>
</li>

<li> Student data shall not be retained or available to the Contractor upon
expiration of the contract between the Contractor and Board, except a student,
parent or legal guardian of a student may choose independently to establish or
maintain an electronic account with the Contractor after the expiration of such
contract for the purpose of storing student-generated content.</li>

<li> The Contractor and Board shall each ensure their own compliance with the
Family Educational Rights and Privacy Act of 1974, 20 U.S.C. § 1232g, as
amended from time to time.</li>

<li> The laws of the State of Connecticut shall govern the rights and duties of the
Contractor and the Board.</li>

<li> If any provision of the contract or the application of the contract is held invalid
by a court of competent jurisdiction, the invalidity does not affect other
provisions or applications of the contract which can be given effect without the
invalid provision or application.</li>

<li> The Contractor acknowledges and agrees to comply with the above and all
other applicable aspects of Connecticut’s Student Data Privacy law according
to Connecticut General Statutes §§ 10-234aa through 10-234dd.</li>

<li> The Parties agree that this Agreement controls over any inconsistent terms or
conditions contained within any other agreement entered into by the Parties
concerning student data.</li>

</ol>