{{user_navs = True}}
{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

<div class="container">
    <div class="col-md-8 col-md-offset-2" style="font-size: large;">
        <h1>Support Runestone Interactive</h1>

        <p>Your support of Runestone Academy is vital to our future.
            Runestone has grown from one introductory computer science
            course in 2012 to supporting thousands of courses and hundreds of thousands of
            students! Since the Fall of 2018 Runestone Academy has saved students over
            $21 million in textbook fees!</p>
        <p>Your support ensures that great interactive textbooks
            will remain free. It also:</p>
            <ul>
                <li>Supports the ongoing development of the Runestone platform.</li>
                <li>Motivates new authors to write more books on new topics.</li>
                <li>Pays our server bills.</li>
                <li>Creates resources to train and support instructors.</li>
            </ul>
        <p>Thank You! <br/>
            Brad Miller, Founder and Chief Developer -- Runestone Academy Ltd</p>
        <div class="panel panel-default">
            <div class="panel-heading">Donation Amount</div>
            <div class="panel panel-body">
                <input type="radio" name="donate" id="donate10" value="10.00"> <label for="donate10">$10</label><br>
                <input type="radio" name="donate" id="donate20" value="20.00"> <label for="donate20">$20</label><br>
                <input type="radio" name="donate" id="donate50" value="50.00"> <label for="donate50">$50</label><br>
                Other: <input type="text" name="donate" id="donateother" value=""/><br>
		<div style="margin-top: 15px; margin-left: 30px;">
                  <a class="btn btn-warning" href="{{=URL('index')}}" role="button">Sorry, not Today</a>
		  </div>
            </div>
        </div>
    </div>
</div>
<div id="paypal-button-container" class="col-md-8 col-md-offset-2"></div>

<div class="col-md-8 col-md-offset-2" style="margin-top: 20px;">
    <p>Note:  <i>Payment processing is handled by PayPal, Runestone Academy LTD has no access to your payment information.</i></p>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=ASkp77N-Kiw5GKOF_0I13P0GCW6lrnaukdVqeFykz7zBT9F-WXHRIisBsau5VEmC-vCKCzt--41kaOjb&currency=USD&intent=capture&enable-funding=venmo"></script>

    <script>
      const fundingSources = [
        paypal.FUNDING.PAYPAL,
          paypal.FUNDING.VENMO,
          paypal.FUNDING.CARD
        ]

      for (const fundingSource of fundingSources) {
        const paypalButtonsComponent = paypal.Buttons({
          fundingSource: fundingSource,

          // optional styling for buttons
          // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
          style: {
            shape: 'rect',
            height: 40,
          },

          // set up the transaction
          createOrder: (data, actions) => {
            // pass in any options from the v2 orders create call:
            // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
            var amt_opts = document.getElementsByName("donate")
            var amt = ""
            for (let rb of amt_opts) {
                if (rb.type === "radio" & rb.checked) {
                    amt = rb.value
                }
            }
            if (amt === "") {
                amt = document.getElementById("donateother").value
                let amtFloat = parseFloat(amt);
                // amounts under a dollar are not worth processing
                if (isNaN(amtFloat) || amtFloat < 1.0 ) {
                    alert("Sorry we cannot accept donations under $1")
                    return
                }
            }
            const createOrderPayload = {
              purchase_units: [
                {
                  amount: {
                    value: amt,
                  },
                },
              ],
            }

            return actions.order.create(createOrderPayload)
          },

          // finalize the transaction
          onApprove: (data, actions) => {
            const captureOrderHandler = (details) => {
              const payerName = details.payer.name.given_name
              $.get("/{{=request.application}}/ajax/save_donate")
              alert('Payment successful - Thank you! ')
              window.location.href = "/{{=request.application}}/default"
              console.log('Transaction completed!')
            }

            return actions.order.capture().then(captureOrderHandler)
          },

          // handle unrecoverable errors
          onError: (err) => {
            console.error(
              'An error prevented the buyer from checking out with PayPal',
            )
          },
        })

        if (paypalButtonsComponent.isEligible()) {
          paypalButtonsComponent
            .render('#paypal-button-container')
            .catch((err) => {
              console.error('PayPal Buttons failed to render')
            })
        } else {
          console.log('The funding source is ineligible')
        }
      }
    </script>

{{ if request.args: }}
<script>
    $(document).ready(function() {
        var amt = "{{=request.args(0)}}";
        var btn = document.getElementById("donate"+amt);
        if (btn) {
            btn.checked = true;
        }
    });
</script>
{{pass}}
