{{user_navs = True}}
{{extend 'layout.html'}}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        .rscontainer {
            padding-left: 50px;
            padding-right:50px;
            padding-top: 20px;
        }
    </style>

<body><center>
    <h2>Welcome {{=studentinfo[1]}}. You have been registered for Runestone Interactive as a student at {{=studentinfo[0]}}!</h2>
    <p>Username: {{=studentinfo[2]}}</p>
    <p>Next Step</p>
    <br>
    <p>Which course are you signing up for?</p>
</center></body>
