{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{block moreincludes}}
    <style>
        #ppBody {
            font-size: 14pt;
            font-family: sans-serif;
            width: 80%;
            margin: 0 auto;
            text-align: justify;
        }

        #ppHeader {
            font-family: verdana sans-serif;
            font-size: 24pt;
            width: 80%;
            margin: 0 auto;
        }

        .ppConsistencies {
            display: none;
        }
    </style>
{{end}}


<div id='ppBody'>
    <h1>Runestone Academy Privacy Policy</h1>

    <h2>Plain English</h2>
    <p>Runestone Academy has an educational mission. In this paragraph we provide our plain English view of your privacy and how we use your data when you visit our website (https://runstone.academy, the “Website”) to register your school or class as a user, when you register as a student of a school or class or access or use our educational services. The books and course materials we provide (the “Service”) are free-of-charge and in an open source format. They are for educational purposes only. As part of the Service or the  Website  we do collect usage data to help us better understand how you learn and how you use the Service and the Website . Because  the Services may be used as a part of your formal education we need to collect some identifying information so that you can save and retrieve your work, and so that your instructor can register for the Service and assess your progress, grade, and give you feedback.
    </p>
    <p>We may use the data we collect to make decisions about revisions to the Service, for academic research and to publish academic papers. We would never publish anything that knowingly revealed your identity. We may share this data with fellow educational researchers, or other partners that help further the mission of computer science education for everyone, but rest assured that any and all personally identifying information will be anonymized before we do. Other than that,  we will  take reasonable efforts to keep your data private and safe.</p>

    <p>All of the code used for the Service  is available for you to inspect on <a href="https://github.com/RunestoneInteractive">GitHub.</a> The rest of this document is the detailed legal description of our policy. if you see something below that you think  is not in the educational spirit of Runestone Interactive, please point it out so we can clarify it or change it.</p>

    <h2>Legal</h2>
    <div class='ppConsistencies'>
        <div class='col-2'>
            <div class="quick-links text-center">Information Collection</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">Information Usage</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">Information Protection</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">Cookie Usage</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">3rd Party Disclosure</div>
        </div>
        <div class='col-2'>
            <div class="quick-links text-center">3rd Party Links</div>
        </div>
        <div class='col-2'></div>
    </div>
    <div style='clear:both;height:10px;'></div>
    <div class='ppConsistencies'>
        <div class='col-2'>
            <div class="col-12 quick-links2 gen-text-center">Google AdSense</div>
        </div>
        <div class='col-2'>
            <div class="col-12 quick-links2 gen-text-center"> Fair Information Practices
                <div class="col-8 gen-text-left gen-xs-text-center" style="font-size:12px;position:relative;left:20px;">
                    Fair information Practices
                </div>
            </div>
        </div>
        <div class='col-2'>
            <div class="col-12 quick-links2 gen-text-center coppa-pad"> COPPA</div>
        </div>
        <div class='col-2'>
            <div class="col-12 quick-links2 quick4 gen-text-center caloppa-pad"> CalOPPA</div>
        </div>
        <div class='col-2'>
            <div class="quick-links2 gen-text-center">Our Contact Information</div>
        </div>
    </div>
    <div style='clear:both;height:10px;'></div>
    <div class='innerText'>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used. PII, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your  PII in accordance with our Website or our Service.
        </div>
    <span id='infoCo'></span>
    <h3>What personal information do we collect from the people that visit our blog, website
        or app?</h3>
    <div class='innerText'>When registering on our Website you may be asked to enter your name, email address, user name or other details to help you with your experience.
    </div>

    <h3>When do we collect information?</h3>
    <div class='innerText'>We collect information from you when you register on our site, enter information on our Website or use the Service.
    </div>
     <span id='infoUs'></span>
    <h3>How do we use your information? </h3>
    <div class='innerText'> We may use the information we collect from you when you register to use the Service, sign up for our newsletter, respond to a survey or marketing communication, surf the Website, use the Service or use certain other site features in the following ways:</div>
    <ul>
        <li> To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
        <li> To improve our website in order to better serve you.</li>
        <li> To allow us to better service you in responding to your customer service requests.</li>
        <li> For educational research.</li>
    </ul>
    <h3>How do we protect your information?</h3>
    <div class='innerText'>Although total security does not exist on the Internet or through mobile networks, we will take the following steps to protect your PII.</div>
    <div class='innerTExt'>
        Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
    </div>
    <div class='innerText'>An external PCI compliant payment gateway handles all payment transactions.  </div>
    <div class='innerText'>We do use periodic Malware Scanning.</div>

    <div class='innerText'>We implement a variety of security measures when a user enters, submits, or accesses their
        information to maintain the safety of your personal information.
    </div>

    <span id='coUs'></span>
    <h3>Do we use 'cookies'?</h3>

    <div class='innerText'>
            Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the Website's or service provider's systems to recognize your browser and capture and remember certain information. . They are also used to help us understand your preferences based on previous or current Website activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about Website traffic and Website interaction so that we can offer better site experiences and tools in the future.
    </div>
    <div class='innerText'>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since each browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
    </div>
    <div class='innerText'>
        If you turn cookies off, some of the features that make your site experience more efficient may not function properly.
    </div>

    <span id='trDi'></span>
    <h3>Third-party disclosure</h3>

    <div class='innerText'>
            We do not sell, trade, or otherwise transfer to outside parties your PII unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.

            It is also possible that we would sell our business (though merger, sale, reorganization or otherwise), or sell all or substantially all of our assets. In any transaction of this kind, customer information, including your PII, may be among the assets that are transferred. If we decide to so transfer your personally identifiable information, you will be notified by email or by a post to the Website.
    </div>

    <h3>Blogs and Message Areas</h3>
    <div class="innerText">
            The Website may include access to and use of blogs or other message areas that allow users to post information to the Website. When you post messages, other site visitors can also view them. We urge you to exercise caution when providing personally identifiable information in the blogs or other message areas. Remember that any information you disclose in these areas becomes public information.
    </div>

    <div class="innterText">
        <strong>YouTube Videos</strong> -- We use YouTube to host the videos contained in our textbooks because it is economical
         and the most reliable way to ensure that we can serve videos on as many browsers on as many platforms
         as possible. When we use YouTube for videos then you should understand that
         YouTube's <a href="https://www.youtube.com/t/terms">Terms of Service</a> apply.
    </div>
    <span id='trLi'></span>

    <h3>Third-party links</h3>

    <div class='innerText'>
            Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
    </div>

    <h3>How does our site handle Do Not Track signals?</h3>
    <div class='innerText'>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do
        Not Track (DNT) browser mechanism is in place.
    </div>
    <h3>Does our site allow third-party behavioral tracking?</h3>
    <div class='innerText'>It's also important to note that we do not allow third-party behavioral tracking</div>
    <span id='coppAct'></span>
    <h3>COPPA (Children Online Privacy Protection Act)</h3>

    <div class='innerText'>The Service shall not be made available to anyone under the age of 13 without our prior written consent.</div>

    <h3>How to Access, Correct or Delete Your Information</h3>
    <div class="innerText">
    You can access, correct or delete your personally identifiable information on your “User Information” page. To protect your privacy and security, we require a user ID and password to verify your identity before granting access or making corrections. Please be advised that certain personal information may not be corrected or deleted if we must by law retain such information as submitted.
    </div>

    <p>If at any time you would like to unsubscribe from receiving future emails, you can email us at
    runestoneinteractive@gmail.com and we will promptly remove you from ALL correspondence. </p>

    <h3>Parental options to Access, Correct or Delete a Student's Information </h3>
    <p>Parents may request corrections, access or deletion of student information by submitting a request through the verified instructor for the course in which their child is enrolled. Runestone has no way to independently verify the identity of a parent without working through the instructor for the course so if you are a parent please do not email us directly.</p>

    <h3>Advertising</h3>
    <p>Runestone derives revenue from the use of Google AdSense for anonymous users that arrive on a page from a search engine.  Registered users, enrolled in a course through their institution, will not be shown ads by Google, nor will any of the google ad serving or tracking code be loaded into the pages we serve those users.</p>

    <h3>Contacting Us</h3>

    <div class='innerText'>If there are any questions regarding this privacy policy, you may contact us using the
        information below.</div>
    <div class='innerText'>https://runestoneinteractive.org</div>
    <div class='innerText'>1240 S. 2nd St, Unit 830</div>
    Minneapolis, MN  55415
    <div class='innerText'>USA</div>
    <div class='innerText'>runestoneinteractive@gmail.com</div>
    <div class='innerText'><br>Last Edited on 2019-08-19</div>
</div>
