{{user_navs = True}}
{{extend 'layout.html'}}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style type="text/css">
        .rscontainer {
            padding-left: 50px;
            padding-right:50px;
            padding-top: 20px;
        }
    </style>

<div class="container rscontainer">
    <!--REGISTRATION-->
    <div id="registration_div">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>Runestone Registration - Student</h2>
        <div id="web2py_user_form">
            <script type="text/javascript">
                function checkTcp() {       // checking if accepted privacy policies
                    let cb = document.getElementById("auth_user_accept_tcp");
                    if (cb.checked) {
                        return true;
                    } else {
                        alert("You must accept our privacy policy to register.");
                        return false;
                    }
                } 
                </script>
            <p>Note: You will be able to register for books in the next page.</p>
            <form class="form-vertical" enctype="multipart/form-data" method="post" onsubmit="return checkTcp()"><center>
                <table>
                    <tr id="auth_user_username__row">
                        <td class="w2p_fl"><label for="auth_user_username" id="auth_user_username__label">Username: </label></td>
                        <td class="w2p_fw"><input type="text" id="auth_user_username" name="username"></td>    
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_first_name__row">
                        <td class="w2p_fl"><label for="auth_user_first_name" id="auth_user_first_name__label">First Name: </label></td>
                        <td class="w2p_fw"><input id="auth_user_first_name" name="first_name" type="text" ></td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_last_name__row">
                        <td class="w2p_fl"><label for="auth_user_last_name" id="auth_user_last_name__label">Last Name: </label></td>
                        <td class="w2p_fw"><input id="auth_user_last_name" name="last_name" type="text" ></td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_email__row">
                        <td class="w2p_fl"><label for="auth_user_email" id="auth_user_email__label">Email: </label></td>
                        <td class="w2p_fw"><input id="auth_user_email" name="email" type="text" ></td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_password__row">
                        <td class="w2p_fl"><label for="auth_user_password" id="auth_user_password__label">Password: </label></td>
                        <td class="w2p_fw"><input class="password" id="auth_user_password" name="password" type="password" ></td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_password_two__row">
                        <td class="w2p_fl"><label for="auth_user_password_two" id="auth_user_password_two__label">Confirm Password: </label></td>
                        <td class="w2p_fw"><input class="password" id="auth_user_password_two" name="password_two" type="password" ></td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_school__row">
                        <td class="w2p_fl"><label for="auth_user_school" id="auth_user_school__label">School Name: </label></td>
                        <td class="w2p_fw ui-widget"><input id="auth_user_school" name="school" type="text"></td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="auth_user_accept_tcp__row">
                        <td class="w2p_fl">
                            <label for="auth_user_accept_tcp">I Agree:</label>
                        </td>
                        <td class="w2p_fw ui-widget">
                            <input type="checkbox" id="auth_user_accept_tcp" name="accept_tcp"> <label for="auth_user_accept_tcp" style="font-weight: initial; display: inline;">I have read and accepted your </label><a href="/{{=request.application}}/default/privacy">privacy policy</a>, <a href="/{{=request.application}}/default/terms">terms, and conditions</a>.
                        </td>
                        <td class="w2p_fc"></td>
                    </tr>
                    <tr id="submit_record__row">
                        <td class="w2p_fl"></td>
                        <td class="w2p_fw"><input class="btn btn-default" type="submit" name="submit" value="Sign Up"/></td>
                        <td class="w2p_fc"></td>
                    </tr>
                </table>
                {{if errors:}}
                {{=errors}}
                {{pass}}
            </center></form> 
        </div>  <!--end form div -->
    </div> 
    </div> <!--end register div -->
</div>