{{extend 'layout.html'}} {{block statusbar}} {{end}}

<style>
    .getstarted {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="col-md-8 col-md-offset-2">
    <h1>Getting Started on Runestone Academy</h1>
    <p>
        How you get started on Runestone depends on who you are. We don't care, everyone
        is welcome here, and we hope this road map can get you off to a smooth start.
    </p>
    <map name="GraffleExport">
    <area shape=rect coords="569,970,671,1072" href="https://runestone.academy/runestone/designer/index">
    <area shape=rect coords="569,815,671,917" href="https://runestone.academy/runestone/default/user/register">
    <area shape=rect coords="1,815,103,917" href="https://runestone.academy/runestone/default/user/register">
    <area shape=rect coords="569,505,671,607" href="https://runestone.academy/ns/books/index">
    <area shape=rect coords="285,505,387,607" href="https://runestone.academy/runestone/default/user/register">
    <area shape=rect coords="1,505,103,607" href="https://runestone.academy/ns/books/index">
    </map>
    <div class="getstarted">
        <image
            border=0
            src="/runestone/static/images/GettingStartedWithRunestone.png"
            usemap="#GraffleExport"
        />
    </div>

    <h2>Next Steps</h2>
    <p>
        <ol>
            <li>Take me to the <a href="/ns/books/index">Library</a></li>
            <li>Take me to the <a href="/runestone/default/user/register">Signup page</a></li>
        </ol>
    </p>
    <h2>Some Resources for Instructors</h2>
    <p>
        <ul>
            <li><a href="/ns/books/published/instructorsguide/index.html?mode=browsing">The Instructors Guide</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLnjfglXW2QQSVCuOj4VsdmWTRAfQy6Zrb">Our YouTube Video Guides</a></li>
            <li>I'm ready to <a href="https://runestone.academy/runestone/designer/index">Create a Course</a></li>
            <li>Don't forget the help menu in the upper right corner.</li>
            <li>Use the Help/Documentation Tab on the Instructor page!</li>
            <li>Stay up to date <a href="https://blog.runestone.academy">Runestone News</a></li>
        </ul>
    </p>
</div>
