{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{block moreincludes}}
<style>
    #ppBody {
        font-size: 14pt;
        font-family: sans-serif;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
</style>
{{end}}

<div id="ppBody">
    <h1>Terms and Conditions</h1>


    <p>Last updated: August 16, 2019</p>


    <p>
        Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the
        https://runestone.academy website and related materials (collectively the "Service") operated by Runestone
        Interactive LLC ("us", "we", or "our").
    </p>

    <p>
        Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms.
        These Terms apply to all visitors, users and others who wish to access or use the Service.
    </p>

    <p>
        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the
        terms then you do not have permission to access the Service.
    </p>

    <p>
        The Service provides teachers and other educators with interactive educational content and materials regarding
        computer science that they can use to create course work for their high school and college/university students
        (the students provided access to the Service by you shall be referred to as the “Student(s)”).
    </p>

    <h2>Accounts</h2>

    <p>
        When you create an account with us, you guarantee that you are above the age of 13, and that the information you
        provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may
        result in the immediate termination of your account on the Service.
    </p>

    <p>
        You are responsible for maintaining the confidentiality of your account and password, including but not limited
        to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all
        activities or actions that occur under your account and/or password, whether your password is with our Service
        or a third-party service. You must notify us immediately upon becoming aware of any breach of security or
        unauthorized use of your account.
    </p>

    <p>
        You may not use as a username the name of another person or entity or that is not lawfully available for use, a
        name or trademark that is subject to any rights of another person or entity other than you, without appropriate
        authorization. You may not use as a username any name that is offensive, vulgar or obscene.
    </p>

    <p>
        You shall obtain all required consents, approvals and agreements necessary for you and your Students to a)
        access and use the Service; and b) submit data to us in conjunction with use of the Service; such consents,
        approvals and agreements shall include, but not necessarily be limited to, those required by Family Educational
        Rights and Privacy Act, Children's Online Privacy Protection Act or other state or federal data privacy laws,
        regulations or rules, if applicable. <strong>The Service shall not be made available to anyone under the age of
            13 without our prior written consent.</strong>
    </p>

    <h2>License to Use Service</h2>
    <p>This is our non-exclusive license to the Service: <a href="https://en.wikipedia.org/wiki/MIT_License">MIT
            License</a>. Your use of the content or materials associated with the Service shall be licensed to you
        pursuant to this license: <a href="https://creativecommons.org/">Creative Commons CC-BY</a> (these two licenses
        shall be collectively referred to as the”License”). Your use of the Service is subject to these Terms and the
        License. Each Student must agree to accept these Terms, including the License, prior to their use of the
        Service. Except as set forth in the License: a) we shall retain all right, title and interest in and to the
        Service; and b) you and your Students shall not (i) make any other use of the Service; or (ii) provide, make
        available or disclose the Service to any third party.</p>

    <h2>Content Submissions</h2>
    <p>
        All information, data, text, software, music, sound, photographs, graphics, video, messages, or any other
        materials whatsoever, whether posted or transmitted to Service shall be collectively referred to as the
        “Content.” The submitting user retains ownership of Content. Notwithstanding the user’s ownership, the
        submitting user grants us the royalty-free, world-wide, non-exclusive, irrevocable, transferable license to use,
        reproduce, publish, distribute and display such Content solely on or through the Service. We will not, review,
        monitor or edit the Content for accuracy, timeliness, integrity or completeness. We shall have the right (but
        not the obligation) in our sole discretion to refuse or delete any Content that violates the Terms or is
        otherwise illegal. We, in our sole and absolute discretion, may preserve Content and may also disclose Content
        if required to do so by law, judicial or governmental mandate or, to protect the rights, property, or personal
        safety of Service users and the public.
    </p>

    <h2>Rules for Content Submission</h2>
    <p>
        We ask you to follow these rules when submitting Content: a) you shall not upload to, distribute through or
        otherwise publish through the Service any Content that is libelous, defamatory, obscene, pornographic, invasive
        of privacy or publicity rights, abusive, that would constitute or encourage a criminal offense or that would
        otherwise give rise to liability or violate any law; b) you shall not use the Service to post Content that
        promotes racism, bigotry, hatred or physical harm of any kind against any group or individual, or that could be
        harmful to minors or that harasses or advocates harassment of another person; c) you will use the Service only
        in a manner consistent with all laws and regulations and in accordance with the Terms; d) you will not
        impersonate any person or entity, misrepresent any affiliation with another person, entity, or association, use
        false IP addresses or headers, or otherwise conceal your identity from us; e) you will only submit Content for
        which you have the copyright or other specific permission to distribute; and f) you will not violate,
        plagiarize, or infringe on the rights of third parties including copyright, trademark, trade secret, privacy,
        publicity or proprietary rights. We shall not be liable in any way for any Content.
    </p>
    <h2>Links To Other Web Sites</h2>

    <p>
        Our Service may contain links to third party web sites or services that are not owned or controlled by Runestone
        Interactive LLC
    </p>

    <p>
        We have no control over, and assume no responsibility for the content, privacy policies, or practices of any
        third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their
        websites
    </p>

    <p>
        You acknowledge and agree that Runestone Interactive LLC shall not be responsible or liable, directly or
        indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on
        any such content, goods or services available on or through any such third party web sites or services.
    </p>

    <p>We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or
        services that you visit.</p>


    <h2>Termination</h2>

    <p>
        We may terminate or suspend your account and bar access to the Service immediately, without prior notice or
        liability, under our sole discretion, for any reason whatsoever and without limitation, including but not
        limited to a breach of the Terms.
    </p>

    <p>If you wish to terminate your account, you may simply discontinue using the Service.</p>

    <p>
        All provisions of the Terms which by their nature should survive termination shall survive termination,
        including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
        liability.
    </p>

    <p>
        You may not assign the License without our prior written consent, which shall not be unreasonably withheld.
    </p>


    <h2>Indemnification</h2>

    <p>
        You agree to defend, indemnify and hold us harmless (and our licensee and licensors, and our employees,
        contractors, agents, officers and directors) from and against any and all claims, damages, obligations, losses,
        liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or
        arising out of a) your use of and access to the Service, by you, the Students or any person using your account
        and password, or b) a breach of these Terms.
    </p>


    <h2>Limitation Of Liability</h2>

    <p>
        IN NO EVENT SHALL WE, OR OUR DIRECTORS, EMPLOYEES, PARTNERS, AGENTS, SUPPLIERS, OR AFFILIATES, BE LIABLE TO YOU
        OR THE STUDENTS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT
        LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (I) YOUR ACCESS TO
        OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (II) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE
        SERVICE; (III) ANY CONTENT OBTAINED FROM THE SERVICE; AND (IV) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR
        TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL
        THEORY, WHETHER OR NOT WE HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH
        HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.

    </p>


    <h2>Disclaimer</h2>

    <p>
        Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis.
        The
        Service is provided without warranties of any kind, whether express or implied, including, but not limited to,
        implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of
        performance.</p>

    <p>Runestone Interactive LLC its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will
        function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be
        corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service
        will meet your requirements.</p>

    <p>
        We do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or
        location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful
        components; or d) the results of using the Service will meet your requirements.
    </p>

    <h2>Exclusions</h2>

    <p>
        Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability
        for consequential or incidental damages, so the limitations above may not apply to you.
    </p>

    <h2>Copyrights</h2>
    <p>
        We respect the intellectual property rights of others, and require that the people who use the Service do the
        same. It is our policy to respond promptly to claims of intellectual property misuse. If you believe that your
        work has been copied and is accessible on this Service in a way that constitutes copyright infringement, you may
        notify us by providing our copyright agent with the following information in writing: a) the electronic or
        physical signature of the owner of the copyright or the person authorized to act on the owner's behalf; b)
        identification of the copyrighted work that you claim has been infringed; c) identification of the material that
        is claimed to be infringing and information reasonably sufficient to permit us to locate the material, including
        the full URL; d) your name, address, telephone number, and email address; e) a statement by you that you have a
        good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and f)
        a statement, made under penalty of perjury, that the above information in your notice is accurate and that you
        are the copyright owner or are authorized to act on the copyright owner's behalf.
    </p>
    <p>
        Our designated agent to receive notification of claimed infringement under the Digital Millennium Copyright Act
        of 1998 is: <br>
        John Roberts<br>
        New Counsel, PLC<br>
        233 Park Avenue, Suite 203<br>
        Minneapolis, Minnesota 55415612-659-8443 <br>
        jroberts@newcounsel.com<br>
    </p>

    <h2>Governing Law</h2>

    <p>
        These Terms shall be governed and construed in accordance with the laws of Minnesota, without regard to its
        conflict of law provisions. All disputes or claims regarding these Terms shall be resolved in the state or
        federal courts in Hennepin County, Minnesota.
    </p>
    <p>
        Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If
        any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of
        these Terms will remain in effect. These Terms, along with the License and the Privacy Policy, which are hereby
        incorporated by reference, constitute the entire agreement between us regarding our Service, and supersede and
        replace any prior agreements we might have had between us regarding the Service.
    </p>

    <h2>Changes</h2>

    <p>
        We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
        material, we will provide at least 30 days’ notice prior to any new terms taking effect (notice shall be deemed
        given if posted to our website). What constitutes a material change will be determined at our sole discretion.
    </p>

    <p>
        By continuing to access or use our Service after any revisions become effective, you agree to be bound by the
        revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.
    </p>


    <h2>Contact Us</h2>

    <p>If you have any questions about these Terms, please contact us.</p>

    <h2>State of Connecticut</h2>
    <p>The linked <a href="ct_addendum">additional terms and conditions</a> apply in the state of
        Connecticut</p>
    <h2>California Consumer Privacy Act</h2>
    <p>Please <a href="ca_addendum">Read the additional terms for CCPA</a></p>

</div>