{{extend 'layout.html'}}

{{block statusbar}}
{{end}}

{{ if 'static' in request.env.query_string:}}
<h2>Welcome</h2>
<p>It appears you are trying to get to a class for which you must log in.  If you have already registered, please login below.  Otherwise you can <a href="{{=URL(f='user/register')}}">Register</a> here.</p>
{{else:}}
<table cellpadding="10px">
  <tr>
<td>
  <video controls width="300">
    <source src="{{=URL(c='static',f='_images/runestone.mov')}}" type="video/mp4"></source>
    <source src="{{=URL(c='static',f='_images/runestone.webm')}}" type="video/webm"></source>    
  </video>
</td>
<td>
<h2>Learn more about Runestone Interactive</h2>    
<p>The video here will give you a bit of an overview of what our interactive books are all about.  Please watch it, or click on one of the titles below to explore on your own.</p>
</td>
</tr>
</table>
{{pass}}
<h2>Try These Interactive Books</h2>
<ul class="booktitle">
  <li class="booktitle"><a href="{{=URL(c='static',f='thinkcspy/index.html')}}">How to Think Like a Computer Scientist:  Interactive Edition</a></li>
  <li class="booktitle"><a href="{{=URL(c='static',f='pythonds/index.html')}}">Problem Solving with Algorithms and Data Structures Using Python</a></li>  
</ul>

<div>
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div id="loginexp">
<p><strong>Why Log in?</strong>  Excellent question.  You don't need to log in to use the books we've provided.  But you won't be able to save your work and come back to it later.  Don't worry we have no plans to spam you with email, and we would never ever sell your contact information to anyone.  If you are student that is part of a course, please register and/or login.  When you register be sure to choose the course that your instructor has given you.</p>
</div>

<div id="web2py_user_form">
  {{=form}}
  {{if request.args(0)=='login':}}
  {{if not 'register' in auth.settings.actions_disabled:}}
  <br/>
  <a href="{{=URL(args='register')}}">{{=T('Register')}}</a>
  {{pass}}
  {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
  <br/>
  <a href="{{=URL(args='request_reset_password')}}">{{=T('Lost Password')}}</a>
  {{pass}}
  {{pass}}
</div>

</div>

<script language="javascript"><!--
      jQuery("#web2py_user_form input:visible:enabled:first").focus();
      //--></script>

