{{extend 'layout.html'}}

<h3>Correct Answer: {{=correct}}</h3>

<h3>Aggregate Information</h3>
<table>
<tr>
  <th>Answer</th>
  <th>Number of Times</th>
</tr>
{{for ans in answerDict.keys():}}
    <tr>
        <td>{{=ans}}</td>
	<td>{{=answerDict[ans]}}</td>
    </tr>  
    {{pass}}

</table>	

<h3>Student Responses</h3>

<table>
  <tr>
    <th>Student</th>
    <th>Answers</th>
  </tr>
{{for student in reslist:}}
  <tr>
    <td>{{=student[0]}}</td>
    <td>{{=student[1]}}</td>
  </tr>
{{pass}}
</table>
