{{extend 'layout.html'}}

<h2>Cohort Progress</h2>
{{=SQLTABLE(grid,headers={'cohort_master.cohort_name':{'label':'Group Name','class':'chmclass', 'truncate':50, 'selected':False, 'width':'200px'},
                          'chapters.chapter_name':'Chapter',
                          'cohort_plan.start_date':{'label':'Start Date','class':'chmclass', 'truncate':50, 'selected':False, 'width':'100px'},
                          'cohort_plan.end_date':{'label':'Plan','class':'chmclass', 'truncate':50, 'selected':False, 'width':'100px'},
                          'cohort_plan.actual_end_date':{'label':'Actual','class':'chmclass', 'truncate':50, 'selected':False, 'width':'100px'},
                          'cohort_plan.status':'Status'})}}

