{{extend 'layout.html'}}

<style>
    textarea {
        width: 700px;
        height: 400px;
      border:1px solid #999999;
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    }
</style>

<h2>{{=cfile}} Editor</h2>

        {{=form}}

<p>This page allows you to edit one of three files, depending on the kind of book you have.</p>
        <ul>
            <li>assignment.rst -- add custom problems or questions</li>
            <li>toc.rst -- if your book is based on How to Think Like a Computer Scientist, then this will let you customize the order of the content.</li>
            <li>index.rst -- for all other books this will allow you to customize the order of the contents.  For thinkcspy books this will let you change the landing page.</li>
        </ul>

<p> Use this editing page carefully, mistakes here can cause errors in the rebuild process which will break your course.</p>
