{{ extend "admin/instructors.html"}}
{{ block tabcontent }}
<script type="text/javascript" src="/{{=request.application}}/static/{{=course_id}}/_static/sharedb.js"></script>

<script type="text/javascript">
  eBookConfig.gradingURL = '{{=gradingUrl}}';
  eBookConfig.gradeRecordingUrl = '{{=gradeRecordingUrl}}';
  eBookConfig.autogradingURL = '{{=autogradingUrl}}';
  eBookConfig.calcTotalsURL = '{{=calcTotalsURL}}';
  eBookConfig.setTotalURL = '{{=setTotalURL}}';
  eBookConfig.getCourseStudentsURL = '{{=getCourseStudentsURL}}';
  eBookConfig.get_assignment_release_statesURL = '{{=get_assignment_release_statesURL}}';
  eBookConfig.course = '{{=course_id}}';
  // load the students dictionary once the page loads
  $(getCourseStudents)
</script>

<div class="col-md-5" style="margin-top: 50px; margin-bottom: 10px;">



  <select required onchange="showColumn1();" id="gradingoption1" style="margin-bottom: 10px; margin-right: 5px; width:30%">
            <option value="" disabled selected>Select your option</option>
            <option value="student">student</option>
            <option value="chapter">chapter</option>
            <option value="assignment">assignment</option>
        </select>




  <select required onchange="showColumn2();" id="gradingoption2" style="margin-bottom: 10px; margin-right: 5px; width:30%">
            <option  value="" disabled selected>Select your option</option>
            <option  value="question">question</option>
            <option value="chapter">chapter</option>
            <option  value="assignment">assignment</option>
        </select>




  <select required onchange="showColumn3();" id="gradingoption3" style="margin-bottom: 10px; margin-right: 5px; width:30%">
            <option value="" disabled selected>Select your option</option>
            <option value="student">student</option>
            <option value="question">question</option>
        </select>


  <select onchange="updateColumn2();" style="visibility: hidden; float:left; overflow-x: auto; margin-top: 25px; width:30%; margin-right: 5px;" size="10" id="gradingcolumn1">
    </select>


  <select onchange="updateColumn3();" style="visibility: hidden; float:left; overflow-x: auto;  margin-top: 25px; width:30%; margin-right: 5px;" size="10" id="gradingcolumn2"></select>


  <select onchange="gradeIndividualItem();" style="visibility: hidden; float:left; overflow-x: auto;  margin-top: 25px; width:30%; margin-right: 5px;" size="10" id="gradingcolumn3"></select>
  <p style="visibility: hidden">This paragraph takes up some space to deal with a funky display issue of the right side lumping over onto the left</p>


  <div id="autogradingform" style="text-align: center; visibility: hidden;">
    <form>
      <label>
                            <input id = "enforceDeadline" type="checkbox" name="enforceDeadline" value="enforceDeadline" class="big-checkbox" checked>
                            Only check work submitted before assignment deadline</label>
      <input id="autogradesubmit" type="submit" class="btn btn-primary" value="Autograde and Display Totals" />
      <!--<button id="autogradebutton"  class="list-group-item" onclick="function(event){event.preventDefault(); autoGrade(event);}">Autograde</button>-->

    </form>
  </div>

  <div id="assignmentTotalform" style="text-align: center; visibility: hidden; background-color: rgba(219,103,14,.71); margin: 10px; padding: 5px; border-radius: 10px;">
    <strong>Override student score for whole assignment.</strong>
    <form>
      <label for="computed-total-score">computed score</label>
      <input id="computed-total-score" type="text" class="form-control" value="" readonly/>
      <label for="manual-total-score">manual override score</label>
      <input id="manual-total-score" type="text" class="form-control" value="" />
      <input type="submit" value="Save Manual Total" class="btn btn-default" style="margin-top: 5px;" />
    </form>
  </div>

  <button id="releasebutton" style="text-align: center; visibility: hidden;" class="list-group-item btn btn-success" onclick="toggle_release_grades();">Release Grades</button>


</div>



<div id="rightsideGradingTab" class="col-md-7" style="margin-top: 50px; visibility: hidden">

  <div id="outerRightDiv">
    <h4 id="rightTitle"></h4>

    <div id="questiondisplay">Question Display</div>

    <div style="display:none" id="shortanswerresponse"></div>

    <div id="gradingform">
      <form>
        <label for="input-grade">Grade</label>
        <input id="input-grade" type="text" class="form-control" value="" />
        <label for="input-comments">Comments</label>
        <input id="input-comments" type="text" class="form-control" value="" />
        <input type="submit" value="Save Grade" class="btn btn-primary" />
      </form>
      <button class="btn btn-default next" type="button">Save and next</button></div>
  </div>



</div>

<!-- Per https://stackoverflow.com/questions/9320427/best-practice-for-embedding-arbitrary-json-in-the-dom -->
<script type="application/json" id="getassignmentinfo">
  {{= XML(assignmentinfo)}}
</script>
<script type="application/json" id="getassignment_deadlines">
  {{= XML(assignment_deadlines)}}
</script>
<script type="application/json" id="getchapters">
  {{= XML(chapters)}}
</script>
<script type="application/json" id="getassignmentids">
  {{= XML(assignmentids)}}
</script>
<script type="application/json" id="getquestion_points">
  {{= XML(question_points)}}
</script>

<script>
  $(".dashboardnav").removeClass("active");
  $("#gradingtab").addClass("active");
  var assignmentinfo = JSON.parse(document.getElementById("getassignmentinfo").innerHTML);
  var chapters = JSON.parse(document.getElementById("getchapters").innerHTML);
  var students = null;
  var assignmentids = JSON.parse(document.getElementById("getassignmentids").innerHTML);
  var assignment_deadlines = JSON.parse(document.getElementById("getassignment_deadlines").innerHTML);
  var question_points = JSON.parse(document.getElementById("getquestion_points").innerHTML);
  
  $('#autogradingform').submit(function(event) {
    event.preventDefault();
    $("#autogradesubmit").prop("disabled", true);
    autoGrade();

    return false;
  });
  $('#calculateTotalsForm').submit(function(event) {
    event.preventDefault();
    calculateTotals();
    return false;
  });
  $('#assignmentTotalform').submit(function(event) {
    event.preventDefault();
    saveManualTotal();
    return false;
  });
</script>


{{ end }}
