{{extend 'layout.html'}}



<div id="outerTabs" class="container" style="margin-top: 60px;">
  <ul class="nav nav-tabs">
    <li class="dashboardnav active" id="progresstab"><a href="{{=URL(c='dashboard',f='index')}}">Student Progress</a></li>
    <li class="dashboardnav" id="admintab"> <a href="{{=URL(c='admin',f='admin')}}">Admin</a></li>
    <li class="dashboardnav" id="gradingtab"><a href="#grading">Grading</a></li>
    <li class="dashboardnav" id="assignmentstab"><a href="{{=URL(c='admin',f='assignments')}}">Assignments</a></li>
    <li class="dashboardnav" id="doctab"><a href="#doc">Doc</a></li>
  </ul>

    <div class="tab-content">

        {{ block tabcontent }}

        {{ end }}




    </div>
</div>





<script>
    function getStudents(sectionName) {
        var section = sectionName;

        var studentList = document.getElementById("studentNames");
        studentList.innerHTML = '';

        var obj = new XMLHttpRequest();
        obj.open("GET", "/runestone/sections/students/" + section, true);
        obj.send(JSON.stringify({sectionName: sectionName}));
        obj.onreadystatechange = function () {

            if (obj.readyState == 4 && obj.status == 200) {
                students = JSON.parse(obj.responseText);
                for (i=0;i<students.length;i++) {
                    studentList.innerHTML += '<a href="#" class="list-group-item"> <h4 style="text-align: center" class="list-group-item-heading">' + students[i][0] + " " + students[i][1] + '</h4> </a>';

                }

                var total = document.getElementById("total");
                if (students == "") {
                    total.innerHTML = "Total: 0";
                }
                else {
                    total.innerHTML = "Total: " + students.length;
                }

    }}}








</script>









<script>

$('#sectionsTab').click(function(){
    $('#sectionsTab').css('background-color', 'gainsboro');
    $('#rebuildTab').css('background-color','transparent');
    $('#AddInstructorTab').css('background-color','transparent');
    $('#DeleteTab').css('background-color','transparent');

});

    $('#rebuildTab').click(function(){
    $('#rebuildTab').css('background-color', 'gainsboro');
    $('#sectionsTab').css('background-color','transparent');
    $('#AddInstructorTab').css('background-color','transparent');
    $('#DeleteTab').css('background-color','transparent');

});

    $('#AddInstructorTab').click(function(){
    $('#AddInstructorTab').css('background-color', 'gainsboro');
    $('#sectionsTab').css('background-color','transparent');
    $('#rebuildTab').css('background-color','transparent');
    $('#DeleteTab').css('background-color','transparent');

});

    $('#DeleteTab').click(function(){
    $('#DeleteTab').css('background-color', 'gainsboro');
    $('#sectionsTab').css('background-color','transparent');
    $('#rebuildTab').css('background-color','transparent');
    $('#AddInstructorTab').css('background-color','transparent');

});

</script>


​










<script>
    function add_instructor() {
        var select = document.getElementById('addins').elements['student'];
        var index = select.selectedIndex;
        var studentid = select.options[index].value; //value gives the value, text gives the actual text
        var studentname = select.options[index].text;

        var obj = new XMLHttpRequest();
        obj.open('POST', '/runestone/admin/addinstructor/' + studentid, true);
        obj.send(JSON.stringify({newins: 'studentid'}));
        obj.onreadystatechange = function () {
            if (obj.readyState == 4 && obj.status == 200) {
                studlist = document.getElementById('studentlist');
                studlist.remove(index);
                inslist = document.getElementById('instructorlist');
                newopt = document.createElement('option');
                newopt.value = studentid;
                newopt.innerHTML = studentname;
                inslist.appendChild(newopt);
            }
        }}

    function remove_instructor(){
        var select = document.getElementById('removeins').elements['instructor'];
        var index = select.selectedIndex;
        var studentid = select.options[index].value; //value gives the value, text gives the actual text
        var studentname = select.options[index].text;
        var obj = new XMLHttpRequest();
        obj.open('POST','/runestone/admin/removeinstructor/' + studentid, true);
        obj.send(JSON.stringify({newins: 'studentid'}));
        obj.onreadystatechange = function () {
            if (obj.readyState == 4 && obj.status == 200) {
                gotdeleted = JSON.parse(obj.responseText);
                if (gotdeleted[0]) {
                    inslist = document.getElementById('instructorlist');
                    inslist.remove(index);
                    studlist = document.getElementById('studentlist');
                    newopt = document.createElement('option');
                    newopt.value = studentid;
                    newopt.innerHTML = studentname;
                    studlist.appendChild(newopt);
                } else {
                    //flash message that you can't remove yourself
                }
            }
        }
    }
</script>

<script>
    function remove_assignment(){
        var select = document.getElementById('assignlist');
        var assignmentid = select.options[select.selectedIndex].value;
        var assignmentname = select.options[select.selectedIndex].text;

        var obj = new XMLHttpRequest();
        obj.open('POST','/runestone/admin/removeassign/' + assignmentid, true);
        obj.send(JSON.stringify({assignid: 'assignmentid'}));
        obj.onreadystatechange = function () {
            if (obj.readyState == 4 && obj.status == 200) {
                select.remove(select.selectedIndex)
            }
        }
    }
</script>


<script>

$('#summative').click(function(){
    $('#summative').css('background-color', 'gainsboro');
    $('#formative').css('background-color','transparent');
    $('#external').css('background-color','transparent');


});

    $('#formative').click(function(){
    $('#formative').css('background-color', 'gainsboro');
    $('#summative').css('background-color','transparent');
    $('#external').css('background-color','transparent');

});

    $('#external').click(function(){
    $('#external').css('background-color', 'gainsboro');
    $('#summative').css('background-color','transparent');
    $('#formative').css('background-color','transparent');

});
</script>


<script>

function search_students(formdata){
        var searchterm = formdata.searchterm.value;
        if (searchterm == ''){
            searchterm = '_'
        }
        var obj = new XMLHttpRequest();
        obj.open('POST','/runestone/admin/searchstudents/' + searchterm, true);
        obj.send(JSON.stringify({tosearch: 'searchterm'}));
        obj.onreadystatechange = function() {
            if (obj.readyState == 4 && obj.status == 200) {
                studidlist = JSON.parse(obj.responseText);
                var studentlist = document.getElementById('studentlist');
                studentlist.innerHTML = '';
                for(var key in studidlist){
                    if(studidlist.hasOwnProperty(key)){
                        option = document.createElement('option');
                        option.value = key;
                        option.innerHTML = studidlist[key];
                        studentlist.appendChild(option)

                    }
                }
            }
        }
    }

function display_write(){
        var template = document.getElementById('template');
        var questiontype = template.options[template.selectedIndex].value;
        var obj = new XMLHttpRequest();
        obj.open('POST', '/runestone/admin/gettemplate/' + questiontype, true);
        obj.send(JSON.stringify({questiontype}));
        obj.onreadystatechange = function() {
            if (obj.readyState == 4 && obj.status == 200){
                var returns = JSON.parse(obj.responseText);
                chapters = returns['chapters'];
                var chapterlist = document.getElementById('chapter');
                for(i=0; i<chapters.length; i++){
                    newoption = document.createElement('option');
                    newoption.value = chapters[i];
                    newoption.innerHTML = chapters[i];
                    chapterlist.appendChild(newoption)
                }
            }
        };

        var hiddenwrite =document.getElementById('hiddenwrite');
        hiddenwrite.style.visibility = 'visible';
    }




    function create_question(formdata){
        var template = formdata.template.value;
        var name = formdata.qname.value;
        var question = formdata.qcode.value;
        question = question.replace(/(\n)+/g, '%0A');
        var difficulty = formdata.difficulty;
        for(var i = 0; i < difficulty.length; i++) {
            if(difficulty[i].checked == true) {
                var selectedDifficulty = difficulty[i].value;
            }
        }
        var tags = formdata.qtags.value;
        var chapter = formdata.qchapter.value;
        var isprivate = formdata.isprivate.checked;
        var sendstring = 'template=' + template + '&name=' + name +'&question=' + question + '&difficulty=' + selectedDifficulty + '&tags=' + tags + '&chapter=' + chapter + '&isprivate=' + isprivate;
        var obj = new XMLHttpRequest();
        obj.open('POST', '/runestone/admin/createquestion/?' + sendstring, true);
        obj.send(JSON.stringify({sendstring}));
        obj.onreadystatechange = function() {
            if (obj.readyState == 4 && obj.status == 200){
                iserror = JSON.parse(obj.responseText);
                if (iserror == 'ERROR'){
                    errortext = document.getElementById('qnameerror');
                    errortext.innerHTML = 'Name is alerady in use. Please try a different name.'
                } else{
                    alert('Question created successfully');
                }
            }
        }
    }


</script>
