{{ extend "admin/instructors.html"}}

{{ block tabcontent }}
<script type="text/javascript" src="{{=get_course_url('_static/sharedb.js')}}"></script>
<script type="text/javascript">
  eBookConfig.gradingURL = '{{=gradingUrl}}';
  eBookConfig.gradeRecordingUrl = '{{=gradeRecordingUrl}}';
  eBookConfig.autogradingURL = '{{=autogradingUrl}}';
  eBookConfig.calcTotalsURL = '{{=calcTotalsURL}}';
  eBookConfig.setTotalURL = '{{=setTotalURL}}';
  eBookConfig.sendLTIGradeURL = '{{=sendLTIGradeURL}}';
  eBookConfig.getCourseStudentsURL = '{{=getCourseStudentsURL}}';
  eBookConfig.get_assignment_release_statesURL = '{{=get_assignment_release_statesURL}}';
  eBookConfig.course = '{{=course_id}}';
  // load the students dictionary once the page loads
  $(getCourseStudents)
</script>


<div id='questions'>
    <style>
        .ac_section > * {
            max-width: 100%;
        }
    </style>
    <h3>Questions</h3>
    {{count=0}}
    {{for q in questioninfo:}}
            <div class='oneq full-width' id='edit_{{=count}}'>
                {{=XML(q['htmlsrc'])}}

                <button class="btn btn-danger"
                    onclick="deleteQuestion('{{=q.name}}', '{{=q.base_course}}', 'edit_{{=count}}')">
                    Delete</button>
                <button class="btn btn-normalV" onclick="(function() {alert('coming soon')})()">Edit</button>
                Difficulty Level {{= q['difficulty']}}

            </div>

        {{count += 1}}
    {{pass}}

</div>


{{ end }}