
    .book_title{

        font-size: 5em;
        background-color: #124c63;
        color: rgb(252, 240, 240);
        width: 45em;
        height: 1cm;
        line-height: 3em;
        text-align: left;
        overflow-wrap: break-word;
        font-size: 1em;
        font-family: Helvetica, Arial, sans-serif;
        cursor: pointer;
        position: relative;
    } 

    .book_title:hover{
        background-color:#247697;
    }


    .book_descript{

        font-size: 5em;
        background-color: #f3f3f3;
        color: rgb(14, 11, 11);
        width: 45em;
        height: 1cm;
        line-height: 3em;
        text-align: left;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: unset;
        font-size: 1em;
        font-family: Helvetica, Arial, sans-serif;
        /* cursor: pointer; */
        position: relative;
    } 

    .book_descript:hover{
        height:unset;
        overflow: visible;
        overflow-wrap: break-word; 




    }


    .link1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    }

    .searchbar{
        

        background-image:url('images/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        border-image-width: 3mm;
        width: 100%; 
        font-size: 15px; 
        padding: 12px 20px 12px 40px; 
        border: 0.1px solid #ddd; 
        margin-bottom: 12px;
    }

    input[type=text]{

        width: 100%;
    }

