<div class="dash-nav">
		<!--<div class="col-md-2">
			<a href="/{{=request.application}}/dashboard/grades"><img src="{{=URL('static/dashboard/icons','gradebook.png')}}" alt="icon" height="30px"/>Grades</a>
		</div>-->
		<div class="col-md-2">
			<a href="/{{=request.application}}/assignments/index"><img src="{{=URL('static/dashboard/icons','cohorts.png')}}" alt="icon" height="30px"/>Assignments</a>
		</div>
		<div class="col-md-2">
			<a href="/{{=request.application}}/admin/cohortprogress"><img src="{{=URL('static/dashboard/icons','cohorts.png')}}" alt="icon" height="30px"/>Cohorts</a>
		</div>
		<div class="col-md-2">
			<a href="/{{=request.application}}/admin/showlog"><img src="{{=URL('static/dashboard/icons','cohorts.png')}}" alt="icon" height="30px"/>Course Log</a>
		</div>
		<div class="col-md-2">
			<a href="/{{=request.application}}/admin/index"><img src="{{=URL('static/dashboard/icons','settings.png')}}" alt="icon" height="30px"/>Old Admin Panel</a>
		</div>
	</div>