{{extend 'layout.html'}}
<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'dashboard.css')}}"/>
<script src="{{=URL('static', 'dashboard-charts.js')}}"></script>

<div id="dashboard">
	<h1>{{=course_name}} <span class="dash-title-description">Spring 2016 Instructor Dashboard</span></h1>
	{{include 'dashboard/dashboard-nav.html'}}
	<h2>Student Report - {{=student_name}}</h2>
	<div class="col-md-7">
		
		<div class="dash-section">
			<div class="dash-section-header">
				Book Completion
			</div>
			<div class="dash-section-content">
				{{ for chapter in chapters: }}

				{{ pass }}
				<div style="color:#009900; font-weight: bold;">Chapter 1: What is this Book About?</div>
				<div style="color:#009900; font-weight: bold;">Chapter 2: What can Computers Do?</div>
				<div style="color:#009900; font-weight: bold;">Chapter 3: Names for Numbers</div>
				<div style="color:#998800; font-weight: bold;">Chapter 4: Names for Strings</div>
				<div style="color:#999999; font-weight: bold;">Chapter 5: Names for Turtles</div>
				<div style="color:#999999; font-weight: bold;">Chapter 6: Computers can Name Anything</div>
				<div style="color:#999999; font-weight: bold;">Chapter 7: Computers can Repeat Steps</div>
				<div style="color:#999999; font-weight: bold;">Chapter 8: While and For Loops</div>
				<div style="color:#999999; font-weight: bold;">Chapter 9: Repeating Steps with Strings</div>
				<div style="color:#999999; font-weight: bold;">Chapter 10: Repeating Steps with Turtles</div>
				<div style="color:#999999; font-weight: bold;">Chapter 11: Repeating Steps with Images</div>
				<div style="color:#999999; font-weight: bold;">Chapter 12: A Computer can Make Decisions</div>
				<div style="color:#999999; font-weight: bold;">Chapter 13: Using Decisions with Strings</div>
				<div style="color:#999999; font-weight: bold;">Chapter 14: Using Decisions with Turtles</div>
				<div style="color:#999999; font-weight: bold;">Chapter 15: Using Decisions with Images</div>
				<div style="color:#999999; font-weight: bold;">Chapter 16: Working with Collections</div>
				<div style="color:#999999; font-weight: bold;">Chapter 17: Getting pieces out of strings and lists</div>
				<div style="color:#999999; font-weight: bold;">Chapter 18: Working with Data on the Web</div>
				<div style="color:#999999; font-weight: bold;">Chapter 19: Computer Abilities Summary</div>
			</div>
		</div>
		<div class="dash-section">
			<div class="dash-section-header">
				Grades
			</div>
			<div class="dash-section-content">
				<table width="90%">
					<thead>
						<tr>
							<td>Assignment</td>
							<td>Completed Date</td>
							<td>Grade</td>
							<td>Average</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Assignment #1</td>
							<td>1/19/2016</td>
							<td>80</td>
							<td>76</td>
						</tr>
						<tr>
							<td>Assignment #2</td>
							<td>2/2/2016</td>
							<td>95</td>
							<td>84</td>
						</tr>
						<tr>
							<td>Assignment #3</td>
							<td>n/a</td>
							<td>n/a</td>
							<td>n/a</td>
						</tr>
						<tr>
							<td>Assignment #4</td>
							<td>n/a</td>
							<td>n/a</td>
							<td>n/a</td>
						</tr>
						<tr>
							<td>Assignment #5</td>
							<td>n/a</td>
							<td>n/a</td>
							<td>n/a</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="dash-section">
			<div class="dash-section-header">
				Profile
			</div>
			<div class="dash-section-content">
				<div>Email: m.moldavan@gmail.com</div>
				<div><a href="">Reset Password &raquo;</a></div>
				<div style="float:right;"><a href="">Email Student &raquo;</a></div>
			</div>
		</div>
		<div class="dash-section">
			<div class="dash-section-header">
				Recent Activity
			</div>
			<div class="dash-section-content">
				<table width="90%" class="nodec">
					<thead>
						<tr>
							<td colspan="2">Today</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Completed Reading Ch.4.2</td>
							<td>11 minutes ago</td>
						</tr>
						<tr>
							<td>Solved CSP-4-2-1</td>
							<td>13 minutes ago</td>
						</tr>
						<tr>
							<td>Attempted CSP-4-2-1</td>
							<td>14 minutes ago</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.4.1</td>
							<td>17 minutes ago</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.4.1</td>
							<td>17 minutes ago</td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<td colspan="2">Yesterday</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Solved CSP-4-1-3</td>
							<td>1:20 pm</td>
						</tr>
						<tr>
							<td>Solved CSP-4-1-2</td>
							<td>1:18 pm</td>
						</tr>
						<tr>
							<td>Solved CSP-4-1-1</td>
							<td>1:18 pm</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.8</td>
							<td>1:10 pm</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.7</td>
							<td>1:02 pm</td>
						</tr>
						<tr>
							<td>Solved CSP-3-7-5</td>
							<td>12:58 pm</td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<td colspan="2">Past Two Weeks</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Solved CSP-3-7-4</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Solved CSP-3-7-3</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Solved CSP-3-7-2</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.6</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.5</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Solved CSP-3-7-5</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.4</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Solved CSP-3-4-3</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Solved CSP-3-4-2</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Attempted CSP-3-4-2</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Attempted CSP-3-4-2</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Solved CSP-3-4-1</td>
							<td>2/2/2016</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.3</td>
							<td>2/1/2016</td>
						</tr>
						<tr>
							<td>Completed Reading Ch.3.2</td>
							<td>2/1/2016</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>