[submodule "common/ext/js-parsons"]
	path = common/ext/js-parsons
	url = https://github.com/vkaravir/js-parsons
[submodule "common/ext/codelens"]
	path = common/ext/codelens
	url = https://github.com/pgbovine/OnlinePythonTutor
[submodule "common/ext/skulpt"]
	path = common/ext/skulpt
	url = https://github.com/bnmnetp/skulpt
