127.0.0.1.2012*
errors/*
sessions/*
127.0.0.1-*
databases/*
*.o
*~
.DS_Store
databases/storage.sqlite
data/*
databases/c8b669d15150d7109e5f7ab36744a5b7_auth_cas.table
databases/c8b669d15150d7109e5f7ab36744a5b7_auth_event.table
databases/c8b669d15150d7109e5f7ab36744a5b7_auth_group.table
databases/c8b669d15150d7109e5f7ab36744a5b7_auth_membership.table
databases/c8b669d15150d7109e5f7ab36744a5b7_auth_permission.table
databases/c8b669d15150d7109e5f7ab36744a5b7_auth_user.table
private/*
*.pyc
/.idea/
\#*\#
TAGS
cache/*
*.log
*.orig
.pythonhistory
custom_courses/
/source/index.rst
models/1.py
/runestone.sublime-project
/runestone.sublime-workspace
/chromedriver.log
/ghostdriver.log
/paverconfig.py
/build_info
node_modules
/test
*/_static/blockly*.html
/static/*
# except
!/static/_static
!/static/_sources
!/static/_images
!/static/css
!/static/js
!/static/robots.txt
!/static/favicon.ico
!/static/runestone-custom-sphinx-bootstrap.css
!/static/websupport-custom.css
!/static/images
!/static/bootstrap*
!/static/dashboard*
.vscode/*
*.egg-info/
*.egg
AC_scripts
Pipfile.lock
config
.gitignore
rsmanage/build
tests/test_book/build
instructors.csv
htmlcov
