[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diff-match-patch = ">=20110725.1"
lxml = ">=3.3.5"
numpy = ">=1.9.2"
python-dateutil = ">=2.4.2"
pytz = ">=2016.6.1"
requests = ">=2.10.0"
runestone = ">=3.0.7"
selenium = ">=2.53.6"
six = ">=1.10.0"
sphinxcontrib-paverutils = ">=1.17"
cssselect = ">=1.0"
coverage = "*"
"e8c6286" = {path = "/Users/bradleymiller/Runestone/web2py/applications/runestone/rsmanage", editable = true}
Paver = ">=1.2.4"
Sphinx = ">=1.7.1"
SQLAlchemy = ">=1.0.14"
"42c00a5" = {path = "/Users/bradleymiller/Runestone/RunestoneComponents", editable = true}
"psycopg2-binary" = "*"
bleach = "*"

[dev-packages]
pylint = "*"
"pylint-web2py2" = "*"
pgcli = "*"
rope = "*"
cprofilev = "*"
mock = "*"
"py-w3c" = "*"
pytest = "*"
coverage = "*"
"contextlib2" = "*"
v = {version = "*", editable = true}

[requires]
python_version = "2.7"
