Jinja2==2.7.2
MarkupSafe==0.21
Paver==1.2.2
Pygments==1.6
Sphinx==1.2.2
astroid==1.1.1
cogapp==2.3
diff-match-patch==20110725.1
docutils==0.11
logilab-common==0.62.0
lxml==3.3.5
psycopg2==2.5.2
pygal==1.4.6
pylint==1.2.1
sphinxcontrib-paverutils==1.6
wsgiref==0.1.2
