Jinja2==2.7.3
MarkupSafe==0.23
Paver==1.2.2
Pygments==2.0.2
SQLAlchemy==0.9.7
Sphinx==1.2.3
argparse==1.2.1
astroid==1.1.1
cogapp==2.3
diff-match-patch==20110725.1
docutils==0.12
logilab-common==0.62.0
lxml==3.3.5
psycopg2==2.5.2
pygal==1.4.6
pylint==1.2.1
sphinxcontrib-paverutils==1.6
subprocess32==3.2.6
wsgiref==0.1.2
