coverage
mock
py_w3c
pytest
contextlib2
# Install the development version of the Runstone Components, rather than the released version.
https://github.com/RunestoneInteractive/RunestoneComponents/archive/master.zip
# Beautiful soup
beautifulsoup4