coverage<5.0
mock
html5validator
pytest
contextlib2
CodeChat >= 1.8.6
# Beautiful soup
beautifulsoup4
locust
coveralls==1.8.2
black==20.8b1
flake8
selenium>=2.53.6
pyvirtualdisplay
pip-tools
myst-parser
sphinx_rtd_theme
polling2
pywin32; sys_platform == 'win32'

# Because Runestone is a combination of javascript and python its not safe to
# install directly from github.
# For development purposes you should clone the runestone components
# git clone https://github.com/RunestoneInteractive/RunestoneComponents.git
# and then pip install -e /path/to/RunestoneComponents
# run npm install in the components folder and then npm run build
