diff-match-patch>=20110725.1
lxml>=3.3.5
numpy>=1.9.2
Paver>=1.2.4
psycopg2>=2.6.2
pylint>=1.2.1
python-dateutil>=2.4.2
pytz>=2016.6.1
requests>=2.10.0
runestone>=3.0.7
selenium>=2.53.6
six>=1.10.0
Sphinx>=1.7.1
sphinxcontrib-paverutils>=1.17
SQLAlchemy>=1.0.14
cssselect>=1.0
coverage
-e rsmanage/
