<div id="cont"></div>
<div id="{{ divid }}" lang="{{ language }}" class="ac_section alert alert-warning">

    <div class="ac_actions">
        <button class='btn btn-success' id="{{ divid }}_runb" onclick="Jobe.runlive('{{divid}}', '{{language}}', '{{ sourcefile }}', '{{datafile}}')">Run</button>
        <button class="ac_opt btn btn-default" style="display: inline-block" id="{{ divid }}_saveb"
                onclick="saveEditor('{{ divid }}');">Save
        </button>
        <button class="ac_opt btn btn-default" style="display: inline-block" id="{{ divid }}_loadb"
                onclick="requestCode('{{ divid }}');">Load
        </button>
    </div>
    <br/>

    <div id="{{ divid }}_code_div" style="display: block;" class="ac_code_div">
        <textarea cols="50" rows="12" id="{{ divid }}_code" class="active_code" prefixcode="{{ include }}" lang="{{ language }}">
{{ initialcode }}
        </textarea>
    </div>

    <div class="lc_output">
        <div>
            <pre id="{{ divid }}_pre" class="active_out"></pre>
        </div>
    </div> <!-- end output -->
    <div class="clearfix"></div>
    {% if stdin %}
    <div>
        <label for="{{ divid}}_stdin">Input for program</label>
        <input id="{{ divid }}_stdin" type="text" size="35" value="{{ stdin_val }}" />
    </div>
    {% endif %}

    <p class="ac_caption"><span class="ac_caption_text"> {{ caption }} ( {{ divid }} )</span> </p>

    {% if datafile %}
    <script>
        $(document).ready(function() { Jobe.pushDataFile("{{ datafile }}"); } );
    </script>
    {% endif %}
</div>