{{extend 'groupLayout.html'}}
<!-- Le styles -->
{{
response.files.insert(3,URL('static','css/custom.css'))
}}
<div class="container" style="padding-bottom:20px;">
	<div class="row-fluid">
		<div class="col-md-12">
			<h2>Plan your studies. Study in groups.</h2>
			<p>Its hard to keep yourself motivated to study. <br/>
			Be part of a group, plan deadlines and motivate each other to finish a chapter, on a <strong>deadline you all set together.</strong> </p>
		</div>
	</div>
	<div class="row-fluid" id="newGroupOptions">
		<div class="col-md-5">
			<h4 class="subheading">Join an Exising Group?</h4>	
			<table>
				<tr>
					<td style="padding-right:20px"><strong>Invitation Id:</strong></td>
					<td><input class="string form-control groupText" type="text" id="joinGroupInvitation" class="add-comment span12"> </td>
					<td rowspan="2" id="joinGroupConfirmation">&nbsp;</td>
				</tr>
				<tr style="padding-top:20px;">
					<td>&nbsp;</td>
					<td ><button class="btn" id="lookupGroupBtn">Lookup Group</button></td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<img src="{{=URL('static', 'images/seperator.png')}}"/>
		</div>
		<div class="col-md-5">
			<h4 class="subheading">Create a new Study Group</h4>	
			<table>
				<tr>
					<td style="padding-right:20px"><strong>Group Name:</strong></td>
					<td><input class="string form-control groupText" type="text" id="newGroupName"> </td>
					<td rowspan="2" id="newGroupConfirmation">&nbsp;</td>
				</tr>
				<tr style="padding-top:20px;">
					<td>&nbsp;</td>
					<td ><button class="btn" id="newGroupBtn">Create New Group</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{{
response.include_meta()
response.include_files()
}}
<script>
	$(document).ready(function(){
		var newGroupOptionsHTML = $("#newGroupOptions").html();
		var invitationId;
		$("#newGroupBtn").on("click", function(){
			var data = {groupName: $("#newGroupName").val()};
			jQuery.get(eBookConfig.app+'/mygroup/createNewGroup', data, function(data) {
				$("#newGroupOptions").html('\
				<div class="bs-callout bs-callout-info col-md-12">\
					<h4 class="subheading">Congrats! You have created a new Study Group.</h4>\
					<p><strong>Group Name: </strong>'+$("#newGroupName").val()+'</p>\
					<h4 class="subheading">Invite people to joing this group</h4>\
					<p><strong>Invitation Id: </strong>'+data+'</p>\
					</div>');
			});
		});
		$("#lookupGroupBtn").on("click", function(){
			invitationId =  $("#joinGroupInvitation").val();
			var data = {invitationId:invitationId};
			$.ajax({url: eBookConfig.app+'/mygroup/lookupGroup', data: data}).done(function(data) {
				jsonData = JSON.parse(data);
				$("#newGroupOptions").html('\
				<div class="bs-callout bs-callout-info col-md-12">\
					<h4 class="subheading">You requested to join the group </h4>\
					<p><strong>Group Name: </strong>'+jsonData.groupName+'</p>\
					<p id="current-members"><strong>Current Members</strong></p>\
					<button class="btn btn-default" id="joinGroupBtn">Join Group</button>\
					<a href="manageGroup.html">Lookup a different group</a>\
					</div>');
				var currentMemberList = JSON.parse(jsonData.members);
				$.each(currentMemberList, function( index, value ) {
					$("#current-members").append("<p>"+(index+1)+". "+value.first_name+" "+value.last_name+"</p>")
				});

					$("#newGroupOptions #joinGroupBtn").on("click", function(){
						var data = {invitationId:invitationId};
						$.ajax({url: eBookConfig.app+'/mygroup/joinGroup', data: data}).done(function(data) {
							jsonData = JSON.parse(data);
							if (jsonData.joinStatus == 1){
								$("#newGroupOptions").html('\
								<div class="bs-callout bs-callout-info col-md-12">\
								<p>You successfully joined the group '+jsonData.groupName+'</p>\
								<ul><li><a href="{{=URL('default','index')}}">Back to the book</a></li><li><a href="{{ =URL('mygroup','schedule')}}">Group Schedule</a></li></ul>\
								</div>');
							}
							else{
								$("#newGroupOptions").html('\
								<div class="bs-callout bs-callout-info col-md-12">\
								<p>Something went wrong. We were unable to join you to the group. Please try again.</p>\
								</div>');
							}

						});
					});
			});
		});

	});

</script>
