{% extends "!layout.html" %}
{% set customsidebar = "runestone.html" %}
{% block doctype %}
<!DOCTYPE html>
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
eBookConfig = {}
eBookConfig.host = '{{course_url}}' ? '{{course_url}}' : 'http://127.0.0.1:8000',
eBookConfig.app = eBookConfig.host+'/{{appname}}',
eBookConfig.ajaxURL = eBookConfig.app+'/ajax/',
eBookConfig.course = '{{course_id}}',
eBookConfig.logLevel = {{loglevel}},
eBookConfig.loginRequired = {{login_required}}
eBookConfig.isLoggedIn = false;
</script>
<script type="text/javascript" charset="utf-8" src="{{course_url}}/{{appname}}/static/js/jquery.idle-timer.js">
</script>
<script type="text/javascript" src="{{course_url}}/{{appname}}/static/js/processing-1.4.1.min.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% set css_files = css_files + ["_static/user-highlights.css"] %}
{% set script_files = script_files + ["_static/rangy-core.js"] %}
{% set script_files = script_files + ["_static/rangy-textrange.js"] %}
{% set script_files = script_files + ["_static/rangy-cssclassapplier.js"] %}
{% set script_files = script_files + ["_static/user-highlights.js"] %}


{% block htmlblock %}
<html  xmlns="http://www.w3.org/1999/xhtml" manifest="/build/_static/cache.manifest">
{% endblock %}

{%- block sidebarlogo %}
{%- if logo %}
  <p class="logo"><a href="{{ pathto('index') }}">
    <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo" title="Click for Main Table of Contents"/>
  </a></p>
{%- endif %}
{%- endblock %}


{% block relbaritems %}
<li class="right"><span class="loginout"><a href="/{{appname}}/default/user/logout">logout</a></span>| </li>
{% endblock %}

{% block footer %}
{{ super() }}

<script type="text/javascript" charset="utf-8">
    $(document).ready(addUserToFooter)
    $(document).ready(createEditors);
    $(document).ready(getNumUsers);
    $(document).ready(getOnlineUsers);
</script>


{% if appname == "courselib" %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32029811-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}
{% endblock %}
