# **********************************************************************
# |docname| - Set environment variables for the containerized Docker app
# **********************************************************************
# Must be set to hostname of server if you want to access the server from another machine
# (Production or remote testing). It can be set to a hostname or ip address.
RUNESTONE_HOST=localhost

# Select a configuration for the instructor-facing server (the Runestone server) and the student-facing server (BookServer). Valid values are ``test``, ``development``, and ``production``.
SERVER_CONFIG=production

# For production, you should change the credentials for the DB to something more secure
# This should be done prior to first running ``docker/docker_tools.py up``.
POSTGRES_PASSWORD=runestone
POSTGRES_USER=runestone
POSTGRES_DB=runestone
POSTGRES_HOST=db.runestoneacademy.org
REDIS_HOST=redis.runestoneacademy.org

# To serve using https, set the `CERTBOT_EMAIL` environment variable and a certificate
# will be automatically acquired.  For a multicontainer production environment certificates
# are managed by the load balancer
#CERTBOT_EMAIL=you@somewhere.edu
