{{extend 'layout.html'}}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h2>Students</h2>
			{{ if len(sections) > 0:}}
			<form class="form-inline" action="" method="get">
				<div class="form-group">
					<label for="sectionSelect" class="hidden">Filter Students</label>
					<select id="sectionSelect" class="form-control" name="section_id">
						<option value="">All Students</option>
					{{for section in sections:}}
						<option {{ if section_id == section.id:}}selected="selected"{{pass}} value="{{=section.id}}">{{=section.name}}</option>
					{{pass}}
					</select>
				</div>
				<div class="form-group">
					<input class="btn" type="submit" value="Go" />
				</div>
			</form>
			{{ pass }}
			<ul class="list-group">
				{{for row in students:}}
				<li class="list-group-item">
					<a href="{{=URL('assignments','index')}}?sid={{=row.id}}">{{=row.first_name}} {{=row.last_name}}</a>
				</li>
				{{pass}}
			</ul>
			{{ if len(students) < 1:}}
			<div class="info-alert alert">No Students</div>
			{{pass}}
		</div>
		<div class="col-md-6">
			<h2>Assignments</h2>
			<a class="btn btn-default" href="{{=URL('assignments','create')}}">Create Assignment</a>
			<a class="btn btn-default" href="{{=URL('assignments','download')}}">Download</a>
			<ul class="list-group">
			{{for row in assignments:}}
			    <li class="list-group-item">
					<a href="{{=URL('assignments','detail')}}?id={{=row.id}}">{{=row.name}}</a>
					<a href="{{=URL('assignments','update')}}?id={{=row.id}}">Edit</a>
					<a href="{{=URL('assignments','grade')}}?id={{=row.id}}">Grade</a>
				</li>  
			    {{pass}}
			</ul>
		</div>
	</div>
</div>