{{extend 'layout.html'}}

<h1>Assignments</h1><h2></h2>
<table class="table table-striped">
    <tr><th>Name</th><th>Status</th><th>Due</th><th>Description</th></tr>
    {{i=0}}
    {{for assignment in assignments:}}
        <tr>
            <td><a href="doAssignment?assignment_id={{=assignment['id']}}">{{=assignment['name']}}</a></td>
            <th>{{=status[i]}}</th>
            <td>{{=duedates[i]}}</td>
            <td>{{=assignment['description']}}</td>
            {{i+=1}}
        </tr>
    {{pass}}
</table>
