{{extend 'layout.html'}}
<h2>{{=assignment.name}}</h2>
<ul class="nav nav-pills">
	<li><a href="{{=URL('assignments','admin')}}">Back to Admin</a></li>
	<li class="active"><a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}">View</a></li>
	<li><a href="{{=URL('assignments','update')}}?id={{=assignment.id}}">Edit</a></li>
	<li><a href="{{=URL('assignments','grade')}}?id={{=assignment.id}}">Grade</a></li>
	<li class="disabled"><a href="">Release Grades</a></li>
</ul>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>Students</h3>
			<ul class="list-group">
			{{for row in grades:}}
			<li class="list-group-item">
				<span class="badge">{{=row.grades.score}}</span>
				<a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}&sid={{=row.auth_user.id}}">{{=row.auth_user.first_name}} {{=row.auth_user.last_name}}</a>
			</li>
			{{pass}}
		</ul>
		</div>
		<div class="col-md-6">
			{{if len(problems) > 0:}}
			<h3>Problems for {{=student.first_name}} {{=student.last_name}}</h3>
			<table>
				<tr>
					<td>acid</td>
					<td>grade</td>
					<td>comment</td>
				</tr>
			{{for row in problems:}}
			    <tr>
					<td>{{=row.acid}}</td>
					<td>{{=row.grade}}</td>
					<td>{{=row.comment}}</td>
				</tr>  
			    {{pass}}
			</table>
			{{else:}}
			<h3>Problems</h3>
			<p>Select a user to view details</p>
			{{pass}}
		</div>
	</div>
</div>