{{extend 'layout.html'}}

<script type="text/javascript">
  eBookConfig.course = '{{=course_id}}';
  eBookConfig.gradingURL = '{{=gradingUrl}}';
  eBookConfig.massGradingURL = '{{=massGradingURL}}'
</script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/skulpt.min.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/skulpt-stdlib.js" type="text/javascript"></script>
<!--<script src="/{{=request.application}}/static/{{=course_id}}/_static/builtin.js" type="text/javascript"></script>-->
<script src="/{{=request.application}}/static/{{=course_id}}/_static/codemirror.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/runestonebase.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/activecode.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/bookfuncs.js" type="text/javascript"></script>

<script type="text/javascript" src="/{{=request.application}}/static/js/superfish.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/{{=course_id}}/_static/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/{{=course_id}}/_static/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/js/assignment-grader.js"></script>

<link href="/{{=request.application}}/static/{{=course_id}}/_static/codemirror.css" rel="stylesheet" type="text/css"/>
<link href="/{{=request.application}}/static/{{=course_id}}/_static/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css"/>

<h2>{{=assignment.name}}</h2>
<ul class="nav nav-pills">
	<li><a href="{{=URL('assignments','admin')}}">Back to Admin</a></li>
	<li class="active"><a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}">View</a></li>
	<li><a href="{{=URL('assignments','update')}}?id={{=assignment.id}}">Edit</a></li>
	<li><a href="{{=URL('assignments','grade')}}?id={{=assignment.id}}">Compute Totals</a></li>
	<li><a href="{{=URL('assignments','release_grades')}}?id={{=assignment.id}}">Release Grades</a></li>
</ul>
<div class="container-fluid">
	<h3>Stats</h3>
	<p>Mean score: {{=avg_score}}</p>
	<p>Median score: {{=median_score}}</p>
	<p>Max score: {{=max_score}}</p>
	<p>Min score: {{=min_score}}</p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>Students</h3>
			{{ if len(sections) > 0:}}
			<form class="form-inline" action="{{=URL('assignments','detail')}}" method="get">
				<input type="hidden" name="id" value="{{=assignment.id}}" />
				{{ if selected_acid:}}
				<input type="hidden" name="acid" value="{{=selected_acid}}" />
				{{pass}}
				<div class="form-group">
					<label for="sectionSelect" class="hidden">Filter Students</label>
					<select id="sectionSelect" class="form-control" name="section_id">
						<option value="">All Students</option>
					{{for section in sections:}}
						<option {{ if section_id == section.id:}}selected="selected"{{pass}} value="{{=section.id}}">{{=section.name}}</option>
					{{pass}}
					</select>
				</div>
				<div class="form-group">
					<input class="btn" type="submit" value="Go" />
				</div>
			</form>
			{{ pass }}
			<ul class="list-group">
			{{for s in students:}}
				{{ found = False }}
				{{ for sc in scores: }}
					{{ if not found and sc.user.id == s.id: }}
						{{ found = True}}
						{{ if selected_student and s.id == selected_student.id: }}
				<li class="list-group-item">
					<a href="{{=URL('assignments','detail')}}{{=page_args(student=None)}}">
						<span class="glyphicon glyphicon-remove"></span>
						{{=s.first_name}} {{=s.last_name}}
					</a>
				</li>
						{{ else: }}
				<li class="list-group-item">
					<span class="badge grade">{{=sc.points}}</span>
					<a {{ if sc.acid: }}class="gradable"{{ pass }} data-acid="{{=sc.acid}}" data-student-id="{{=s.username}}" href="{{=URL('assignments','detail')}}{{=page_args(student=s)}}">
						{{=s.first_name}} {{=s.last_name}}
					</a>
					<p class="comment">{{=sc.comment}}</p>
				</li>
						{{ pass }}
					{{ pass }}
				{{ pass }}
				{{ if not found: }}
				<li class="list-group-item">
					<a href="{{=URL('assignments','detail')}}{{=page_args(student=s)}}">
						{{=s.first_name}} {{=s.last_name}}
					</a>
				</li>
				{{ pass }}
			{{pass}}
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Problems</h3>
			{{if selected_acid: }}
			<div class="btn-group">
				<a class="btn mass-grade" data-acid="{{=selected_acid}}" href="#">Import Scores for {{=selected_acid}}</a>
			</div>
			
			{{ pass }}
			<ul class="list-group">
			{{for p in problems:}}
				{{ found = False }}
				{{ for sc in scores: }}
					{{ if not found and sc.acid == p.acid: }}
						{{ found = True }}
						{{ if selected_acid and selected_acid == p.acid: }}
				<li class="list-group-item">
					<a href="{{=URL('assignments','detail')}}{{=page_args(acid=None)}}">
						<span class="glyphicon glyphicon-remove"></span>
						{{=p.acid}}
					</a>
				</li>
						{{ else: }}
				<li class="list-group-item">
					<span class="badge grade">{{=sc.points}}</span>
					<a {{ if sc.user: }}class="gradable"{{ pass }} data-acid="{{=p.acid}}" data-student-id="{{=sc.user.username}}" href="{{=URL('assignments','detail')}}{{=page_args(acid=p.acid)}}">
						{{=p.acid}}
					</a>
					<p class="comment">{{=sc.comment}}</p>
				</li>
						{{ pass }}					
					{{ pass }}
				{{ pass }}
				{{ if not found: }}
				<li class="list-group-item">
					<a href="{{=URL('assignments','detail')}}{{=page_args(acid=p.acid)}}">
						{{=p.acid}}
					</a>
				</li>
				{{ pass }}
			{{pass}}
			</ul>
		</div>
	</div>
</div>

<div id="mass-grade-modal-template" class="template" style="display:none;">
	<div class="modal-mass-grader modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<label for="csv-entry">Enter CSV Text (email, points)</label>
						<textarea id="csv-entry" name="csv-entry" class="form-control"></textarea>
						<input type="submit" value="match-grades" class="btn btn-primary" />
					</form>
				</div>
	            <div class="modal-footer">
	              <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
	            </div>				
			</div>
		</div>
	</div>
</div>
<div id="modal-template" class="modal-template template" style="display:none;">
	<div class="modal-grader modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="" class="activecode-target"></div>
                <form>
	                <label for="input-grade">Grade</label>
	                <input id="input-grade" type="text" class="form-control" value= ""/>
	                <label for="input-comments">Comments</label>
	                <input id="input-comments" type="text" class="form-control" value="" />
	                <input type="submit" value="Save Grade" class="btn btn-primary" />
              	</form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default next" type="button">Save and next</button>
              <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>