{{extend 'layout.html'}}

<script type="text/javascript">
  eBookConfig.course = '{{=course_id}}';
  eBookConfig.gradingURL = '{{=gradingUrl}}'
</script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/skulpt.min.js" type="text/javascript"></script>
<!--<script src="/{{=request.application}}/static/{{=course_id}}/_static/builtin.js" type="text/javascript"></script>-->
<script src="/{{=request.application}}/static/{{=course_id}}/_static/codemirror.js" type="text/javascript"></script>
<script src="/{{=request.application}}/static/{{=course_id}}/_static/bookfuncs.js" type="text/javascript"></script>
<script type="text/javascript" src="/{{=request.application}}/static/js/superfish.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/{{=course_id}}/_static/jquery.tablesorter.js"></script>

<script type="text/javascript" src="/{{=request.application}}/static/js/assignment-grader.js"></script>

<link href="/{{=request.application}}/static/{{=course_id}}/_static/codemirror.css" rel="stylesheet" type="text/css"/>

<h2>{{=assignment.name}}</h2>
<ul class="nav nav-pills">
	<li><a href="{{=URL('assignments','admin')}}">Back to Admin</a></li>
	<li class="active"><a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}">View</a></li>
	<li><a href="{{=URL('assignments','update')}}?id={{=assignment.id}}">Edit</a></li>
	<li><a href="{{=URL('assignments','grade')}}?id={{=assignment.id}}">Grade</a></li>
	<li class="disabled"><a href="">Release Grades</a></li>
</ul>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>Students</h3>
			<ul class="nav nav-pills">
				<li {{if not selected_section:}}class="active"{{pass}}>
					<a href="{{=URL('assignments','detail')}}{{=page_args(section_id=None)}}">All Students</a>
				</li>
				{{ for row in sections: }}
				<li {{if selected_section==row.id:}}class="active"{{pass}}>
					<a href="{{=URL('assignments','detail')}}{{=page_args(section_id=row.id)}}">{{=row.name}}</a>
				</li>
				{{ pass }}
			</ul>
			<ul class="list-group">
			{{for row in students:}}
			<li class="list-group-item">
				{{ if student and student.id == row.id: }}
				<span class="badge">{{=row.grade}}</span>
				<a href="{{=URL('assignments','detail')}}{{=page_args(student=None)}}">
					<span class="glyphicon glyphicon-remove"></span>
					{{=row.first_name}} {{=row.last_name}}
				</a>
				{{ else: }}
				<span class="badge">{{=row.grade}}</span>
				<a href="{{=URL('assignments','detail')}}{{=page_args(student=row)}}">{{=row.first_name}} {{=row.last_name}}</a>
				{{ pass }}
			</li>
			{{pass}}
		</ul>
		</div>
		<div class="col-md-6">
			{{if student:}}
			<h3>Problems for {{=student.first_name}} {{=student.last_name}}</h3>
			{{else:}}
			<h3>Problems</h3>
			{{pass}}
			{{if len(problems) > 0:}}
			<ul class="list-group">
			{{for row in problems:}}
			    <li class="list-group-item">
			    	{{if student:}}
					<span class="badge grade">{{=row.grade}}</span>
					<a class="gradable" data-acid="{{=row.acid}}" data-student-id="{{=student.id}}" href="{{=URL('assignments','detail')}}{{=page_args(student=student,acid=row.acid)}}">{{=row.acid}}</a>
					<p class="comment">{{=row.comment}}</p>
					{{else:}}
					{{if acid==row.acid:}}
					<a href="{{=URL('assignments','detail')}}{{=page_args(acid=None)}}">
						<span class="glyphicon glyphicon-remove"></span>
						{{=row.acid}}
					</a>
					{{else:}}
					<a href="{{=URL('assignments','detail')}}{{=page_args(acid=row.acid)}}">{{=row.acid}}</a>
					{{pass}}
					{{pass}}
				</li>  
				{{pass}}
			</ul>
			{{else:}}
			<div class="alert alert-info">
				<p>No Problems</p>
			</div>
			{{pass}}
		</div>
	</div>
</div>
<div id="modal-template" class="modal-template template" style="display:none;">
	<div class="modal-grader modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="" class="activecode-target"></div>
                <form>
	                <label for="input-grade">Grade</label>
	                <input id="input-grade" type="text" class="form-control" value= ""/>
	                <label for="input-comments">Comments</label>
	                <input id="input-comments" type="text" class="form-control" value="" />
	                <input type="submit" value="Save Grade" class="btn btn-primary" />
              	</form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>