{{extend 'layout.html'}}
<h2>{{=assignment.name}}</h2>
<ul class="nav nav-pills">
	<li><a href="{{=URL('assignments','admin')}}">Back to Admin</a></li>
	<li><a href="{{=URL('assignments','detail')}}?id={{=assignment.id}}">View</a></li>
	<li class="active"><a href="{{=URL('assignments','update')}}?id={{=assignment.id}}">Edit</a></li>
</ul>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>Edit Information</h3>
			{{=form}}
		</div>
		<div class="col-md-4">
			<h3>Edit Deadlines</h3>
			{{=delete_deadline_form}}
			<h3>Create Deadline</h3>
			{{=new_deadline_form}}
		</div>
		<div class="col-md-4">
			<h3>Problems in Assignment</h3>
			{{=problems_delete_form}}
			<h3>Add Problems</h3>
			{{=problem_query_form}}
		</div>
	</div>
</div>