{{ extend "admin/instructors.html"}}

{{ block tabcontent }}

<h2>Peer Instruction Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <form action="/runestone/peer/dashboard" method="GET">
            <input type="hidden" name="assignment_id" value={{=assignment_id}}>
            <button type="button" onclick="connect(event)">connect</button>
            <button type="button" onclick="warnAndStopVote(event)">Stop Vote 1</button>
            <button type="button" onclick="startVote2(event)">Start Vote 2</button>
            <button type="submit" name="next" value="Next">Next Question</button>
            <button type="submit" name="next" value="Reset">Start Over</button>
        </form>
    </div>
</div>

<div class="row">
    <div class='oneq col-md-6'>
        {{=XML(current_question['htmlsrc'])}}
    </div>
    <div class='col-md-6'>
        Graphs go here
        <div id="first_answer" style="display:none"></div>
        <div id="second_answer"></div>
        <button type="button" onclick="hideShowGraph()">Hide/Show Graph</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script>
    async function updateGraphs() {// Every five seconds get the graph data
        var opt = { "renderer": "canvas", "actions": false };
        let data = {
            "div_id": "{{=XML(current_question['name'])}}",
            "answer_num": 1
        }
        let jsheaders = new Headers({
            "Content-type": "application/json; charset=utf-8",
            Accept: "application/json",
        });
        let request = new Request("/runestone/peer/chartdata", {
            method: "POST",
            headers: jsheaders,
            body: JSON.stringify(data),
        });
        let resp = await fetch(request);
        let spec = await resp.json();

        vegaEmbed("#first_answer", spec, opt);
    }

    function hideShowGraph() {
        let graph = document.getElementById("first_answer");
        if (graph.style.display == "none") {
            graph.style.display = "block";
        }
        else {
            graph.style.display = "none";
        }
        updateGraphs();
        setInterval(updateGraphs, 5000);
    }


</script>
<script src="/runestone/static/js/peer.js"></script>
<script>
    var user = '{{=auth.user.username}}';
    var currentQuestion = '{{=XML(current_question.name)}}';
</script>
<script type="text/javascript">
    $(".dashboardnav").removeClass("active");
    $("#doctab").addClass("active");
</script>
{{ end }}