<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
</head>

<body>
    <h1>WebSocket Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
    </form>
    <button onclick="connect(event)">Connect</button>
    <ul id='messages'>
    </ul>
    <script>
        var user = '{{=auth.user.username}}';
        var ws = null;
        function connect(event) {
            ws = new WebSocket(`ws://localhost:8080/chat/${user}/ws`);
            ws.onmessage = function (event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            }
        }
        // Send a message to the websocket server
        // the server can then broadcast the message or send it to a
        // specific user
        function sendMessage(event) {
            var input = document.getElementById("messageText")
            ws.send(input.value)
            var messages = document.getElementById('messages')
            var message = document.createElement('li')
            var content = document.createTextNode(input.value)
            message.appendChild(content)
            messages.appendChild(message)
            input.value = ''
            event.preventDefault()
        }
    </script>
</body>

</html>