{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<link rel="stylesheet" href="/runestone/static/css/index.css">
<script>
function submitModalForm(form) {
  const content = document.getElementById('content')
  for (let num of Object.keys(form)) {
    if (form[num].name == "changeType") {
      if (form[num].value == "delete") {
        if (!confirm(`Are you sure you want to delete this book? This will also delete your repo and remove all courses using this book.`)) {
          return false;
        }
      }
      if (form[num].value == "reset") {
        if (!confirm(`Are you sure you want to reset this book? This will change the contents of your repo and remove all courses using this book.`)) {
          return false;
        }
      }
    }
    if (["newBookIdentifier", "baseBook", "newGithubRepo", "githubUser"].includes(form[num].name)) {
      if (form[num].value == "" || form[num].value.indexOf(" ") !== -1 || form[num].value.indexOf("/") > -1) {
        alert(`Error:  Your ${form[num].name} may not contain spaces or /`)
        return false;
      }
      if (!/^([\x30-\x39]|[\x41-\x5A]|[\x61-\x7A]|[_-])*$/.test(form[num].value)) {
        alert(`Error: Your ${form[num].name} can only contain ASCII letters digits and - or _`);
        return false;
      }

    }
  }
  form.action = "/runestone/designer/book_edit"
  //prevent user from entering data while backend is running
  content.classList.add('freeze')
  form.submit()
  return true
}
  function book_searchbar() {
    let input = document.getElementById('searchbar').value
    input = input.toLowerCase();
    let x = document.querySelectorAll('.book_title_drafts:not(.custom_title)');
    let y = document.querySelectorAll('.book_descript_drafts:not(.custom_descript)');

    for (i = 0; i < x.length; i++) {
        if ((x[i].innerHTML.toLowerCase().includes(input)) || (y[i].innerHTML.toLowerCase().includes(input))) {
            x[i].parentElement.style.display = "inline-block";
            y[i].parentElement.style.display = "inline-block";
            y[i].parentElement.parentElement.style.display = "inline-block";
        }
        else {
            x[i].parentElement.style.display = "none";
            y[i].parentElement.style.display = "none";
            y[i].parentElement.parentElement.style.display = "none";
        }
    }
};
</script>

<style>
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row {
  background-color: rgb(238, 238, 238);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* freeze page content while server internals are working*/
.freeze { pointer-events: none; }
</style>

<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



<script type="text/javascript">
  $(document).on("click", ".cloneButton", function () {
    var bookToBeCloned = this.id.replace(new RegExp("_button" + '$'), "");
    $("#changeType")[0].value = "create";
    $("#newBookIdentifier")[0].value = bookToBeCloned
    $("#newGithubRepo")[0].value = bookToBeCloned
    $("#baseBook")[0].value = bookToBeCloned
    $("#oldBookIdentifier")[0].value = "notused"
    $("#oldGithubRepo")[0].value = "notused"
    $("#resetButtonWrapper")[0].style.display = "none"
    $("#deleteButtonWrapper")[0].style.display = "none"
    $('#submitButton')[0].value = "Submit"
    $('#editBookModalLabel')[0].innerHTML = "Cloning "+bookToBeCloned
  });
  $(document).on("click", ".editButton", function () {
    var bookToBeEdited = this.id.replace(new RegExp("_edit_button" + '$'), "").replace("custom_","");
    $("#changeType")[0].value = "edit";
    $("#newBookIdentifier")[0].value = bookToBeEdited
    $("#oldBookIdentifier")[0].value = bookToBeEdited
    $("#newGithubRepo")[0].value = $("#custom_"+bookToBeEdited+"_repo")[0].innerText
    $("#oldGithubRepo")[0].value = $("#custom_"+bookToBeEdited+"_repo")[0].innerText
    $("#baseBook")[0].value = "notused"
    $("#resetButtonWrapper")[0].style.display = "none" //TODO change this to block and implement "reset" change types in the backend
    $("#deleteButtonWrapper")[0].style.display = "block"
    $('#submitButton')[0].value = "Update"
    $('#editBookModalLabel')[0].innerHTML = "Editing "+bookToBeEdited
  });
  $(document).on("click", ".publishButton", function () {
    var bookToBeEdited = this.id.replace(new RegExp("_publish_button" + '$'), "").replace("custom_","");
    $("#changeType")[0].value = "publish";
    $("#newBookIdentifier")[0].value = "notused"
    $("#oldBookIdentifier")[0].value = bookToBeEdited
    $("#newGithubRepo")[0].value = "notused"
    $("#oldGithubRepo")[0].value = $("#custom_"+bookToBeEdited+"_repo")[0].innerText
    $("#baseBook")[0].value = "notused"
    submitModalForm($("#changeType")[0].form);
  });
</script>
<div class="container" id="content">
  <div class="col-md-8 col-md-offset-2">
    <h2>New Book Registry</h2>
    <p>
      There are many free and open source textbooks available on Runestone.Academy.
      However, sometimes these books don't match the content taught in certain classes.
      This page can be used to create custom textbooks to fit your classes needs.
      To start, log into Github.
      Then, find the textbook you would like and use the clone button which forks the book into your Github.
      You can use the right hand panel to view the book in its current state and publish it.
    </p>
    <div class="row">
      <div class="column">
        <script src="../static/js/books.js"></script>
        <h4>Available Textbooks</h4>
        <div class="searchbar" style="margin-bottom: 15px;">
          <input type="text" id="searchbar" onkeyup="book_searchbar()" placeholder="Search by topic..">
        </div>
        {{ for book in book_list: }}
        <div>
          <button id="{{=book['regname']}}_button" class="btn btn-primary cloneButton"
            style="text-align: center; color: white; border-radius: 3px; display: inline-block; float: left; border: 10px; margin-left: 10px;"
            data-target="#editTextbook" data-toggle="modal" style="margin-top: 12px;">Clone</button>
          <div id="{{=book['regname']}}" class='library_entry'
            style="display: inline-block; margin-left: 10px; margin-bottom: 15px;">
            <div class="book_title_drafts">
              <div id="{{=book['regname']}}_title">{{=book['title']}}</div>
              <a href="{{=book['url']}}">
                <span class="link1"></span>
              </a>
            </div>
            <div class="book_descript_drafts">
              <b>Description:</b>{{=book['course_description']}}
              To register for this book use the code <code>{{=book['regname']}}</code> <br>
              <p style="display: none;"> keywords:
              <div id="{{=book['regname']}}_keywords">{{=book['key_words']}}</div>
              </p>
            </div>
          </div>
        </div>
        {{pass}}
      </div>
      <div class="column">
        <h4 style="margin-bottom: 10px;">My Custom Textbooks</h4>
        {{ for book in custom_book_list: }}
        <a data-toggle="modal" data-target="#editTextbook" class="editButton" id="custom_{{=book['regname']}}_edit_button"> <img src="../static/images/settings_info.png"
            alt="custom book settings"
            style="width: 30px; height: 30px; margin-left: 15px; display: inline-block; float: left; margin-top: 10px;"
            title="Edit Settings"></a>
        <div style="display: none;" id="custom_{{=book['regname']}}_repo">{{=book['github_repo_name']}}</div>
        <div id="list" class="library_entry" style="margin-top: 10px; margin-bottom: 20px;">
          <div style="display: inline-block; margin-left: 60px; margin-top: -40px;">
            <div class="draft_title book_title_drafts custom_title"> {{=book['title']}}
              <a href="{{=book['url']}}">
                <span class="link1"></span>
              </a>
            </div>
            <div class="book_descript_drafts custom_descript">
              <b>Description:</b> {{=book['course_description']}} To register for this book use the code
              <code>{{=book['regname']}}</code> <br>
              <p style="display: none;"> keywords: {{=book['key_words']}}</p>
            </div>
          </div>
          <div style="margin-top: 5px;">

            <div
              style="width: 300px; padding: 3px; border: 1px solid rgb(36, 35, 35);background-color: #f3f3f3; border-radius: 5px; margin-left: 30px; hover: background-color: lighten(green, 5%)">
              <a href="{{=book['url']}}" target="_blank" rel="noopener noreferrer"><button class="btn btn-primary">View Draft</button></a>
              <a href="{{=book['published_url']}}" target="_blank" rel="noopener noreferrer"><button class="btn btn-primary" {{ if not book["published"]: }}disabled {{ pass }}>View Published</button></a>
              <a data-toggle="modal" class="publishButton" id="custom_{{=book['regname']}}_publish_button"> <img src="../static/images/Publish.png"
                  alt="publish book" style="width: 35px; height: 35px; margin-left: 20px; display: inline-block"
                  title="Publish Book"></a>
            </div>
          </div>
        </div>
        {{pass}}
      </div>
    </div>

    <div style="margin:10px">
      <div style="display: inline-block; vertical-align: top;">
        <a href="https://github.com/">
          <img alt="Github Logo" src="../static/images/GitHub.png">
        </a>
      </div>
      <div style="display: inline-block; margin-top: 20px;">
        {{ if github['found']: }}
        <p>You are logged in to GitHub as {{=github['user']}}. <a href="/runestone/designer/logout_github/">Logout</a> or <a href="/runestone/designer/logout_github/revoke">Revoke Access</a></p>
        {{ else: }}
        <p>You need to log into GitHub first <a
            href="https://github.com/login/oauth/authorize?scope=repo,delete_repo&client_id={{=github['client_id']}}">Click
            here</a> to begin!</a></p>
        {{pass}}
      </div>
    </div>
  </div>
</div>
<div aria-hidden="false" aria-labelledby="editBookModalLabel" class="modal fade" id="editTextbook" role="dialog"
  tabindex="-1"
  style="width: 1000px; height: 700px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" style="padding-left: 50px;">
        <button class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span> <span
            class="sr-only">Close</span></button>
        <h4 class="modal-title" id="editBookModalLabel" style="text-align: center;">Custom Textbook</h4>
      </div>
      <!-- Modal Body -->
      <div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
        {{ if github['found']: }}
        <p id="modaleditmessage">Submitting may temporarily cause the draft and published versions to stop working or the book to disappear from your custom list. Please be patient as this may take up to a few minutes to resolve. There are many files that the server needs to copy</p>
        <form>
          <input type="hidden" id="githubUser" name="githubUser" value="{{=github['user']}}">
          <input type="hidden" id="baseBook" name="baseBook" value="">
          <input type="hidden" id="changeType" name="changeType" value="">
          <input type="hidden" id="oldGithubRepo" name="oldGithubRepo" value="">
          <input type="hidden"  id="oldBookIdentifier" name="oldBookIdentifier" value="">
          <div class="form-group">
            <label for="newGithubRepo">Github Repo</label> <input class="form-control" id="newGithubRepo"
              name="newGithubRepo" placeholder="Enter Github repo where the book will be stored" type="text"
              style="border-radius: 15px;">
            <label for="newBookIdentifier">Book Identifier</label> <input class="form-control" id="newBookIdentifier"
              name="newBookIdentifier" placeholder="Enter Book Identifier (no spaces or special characters)" type="text"
              style="border-radius: 15px;">
          </div>
          <input class="btn btn-default" data-dismiss="modal" type="button" value="Submit" id="submitButton"
            onclick="submitModalForm(this.form);" style="float: left; background-color: green; border: none; margin-right: 10px;">
          <div id="resetButtonWrapper">
            <input class="btn btn-default" data-dismiss="modal" type="button" value="Reset" id="resetButton"
              onclick='$("#changeType")[0].value = "reset"; submitModalForm(this.form);' style="float: left; background-color: red; border: none; margin-right: 10px;">
              <p style='float: left; margin-right: 10px;'>This will delete your repository, along with any<br>associated courses, and then re-clone it</p>
          </div>
          <div id="deleteButtonWrapper">
            <input class="btn btn-default" data-dismiss="modal" type="button" value="Delete" id="deleteButton"
              onclick='$("#changeType")[0].value = "delete"; submitModalForm(this.form);' style="float: left; background-color: red; border: none; margin-right: 10px;">
              <p style="float: left;">This will delete your repository and any associated<br>courses will be set to use the book originally cloned</p>
            </div>
        </form>
        {{ else: }}
        <p>You need to log into github first <a
            href="https://github.com/login/oauth/authorize?scope=repo,delete_repo&client_id={{=github['client_id']}}">Click
            here</a> to begin!</a></p>
        {{ pass }}
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>

<div aria-hidden="false" aria-labelledby="PublishModalLabel" class="modal fade" id="PublishTextbook" role="dialog"
  tabindex="-1" style="width: 500px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="padding-left: 50px; border-radius: 5px;">
        <button class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span> <span
            class="sr-only">Close</span></button>
        <h5 class="modal-title" id="PublishModalLabel" style="text-align: center;">Book has been Published</h5>
      </div>
    </div>
  </div>
</div>


{{block right_sidebar}}

{{end}}