{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}


{{if 'message' in globals():}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<h3>{{=message}}</h3>

<p>
    We're going to now talk to the GitHub API. Ready?
    <a href="https://github.com/login/oauth/authorize?scope=repo&client_id=1d31e6dc6ff88f189241">Click here</a> to begin!</a>
  </p>

{{pass}}

{{block right_sidebar}}

{{end}}