{{left_sidebar_enabled,right_sidebar_enabled=False,False}}

{{extend 'layout.html'}}

{{block left_sidebar}}

{{end}}

{{ if 'mess' in globals():}}
  <h1>{{=mess}}</h1>
  {{if success:}}
    To access your new course you will need to logout, and then log in again.  After login you will be taken to the home page for your course. <a href="/{{=request.application}}/default/user/logout">Logout</a>
  {{else:}}
    Please use the back button to back up and use a different name.  Your name should not contain spaces or special characters, especially the &amp; character.
  {{pass}}
{{ else: }}

  <h4>Module Index</h4>

  <div id="boxA" class="homeboxclass" ondrop="drop(event)" ondragover="allowDrop(event)">
    {{dragitemidx = 0}}
    {{for item in moddata.keys():}}
      {{dragitemidx = dragitemidx + 1}}
      {{idstr = str(item)}}
      <div id="{{=idstr}}" data-filename="{{=moddata[item][2]}}" class="word" draggable="true" onclick="showDetails({{=item}})" ondragstart="drag(event)">

        <a onmouseover='this.style.cursor="pointer" ' onfocus='this.blur();' onclick="document.getElementById('PopUp{{=idstr}}').style.display = 'block' " >{{=moddata[item][0]}}</a>
    	  <div id='PopUp{{=idstr}}' style='display: none; position: absolute; left: 500px; top: 100px; border: solid black 1px; padding: 10px; background-color: rgb(255,255,225); text-align: justify; font-size: 12px; width: 135px;'>
    	    {{=moddata[item][1]}}
    	    <br />
    	    <div style='text-align: right;'><a onmouseover='this.style.cursor="pointer" ' style='font-size: 12px;' onfocus='this.blur();' onclick="document.getElementById('PopUp{{=idstr}}').style.display = 'none' " >Close</a></div>
    	  </div>
      </div>
    {{ pass }}
  </div>

  <h4>Choose topics for...</h4>
  <h4>{{=pname}}</h4>

  <button type="button" class='btn btn-small' onclick="addModBlock()">+</button>

  <button type="button" class='btn btn-small' onclick="unhide_img('spinner'); buildIndexFile('{{=pname}}')">Create Course</button>

  <div id="chapterboxes">
    <div id="box1" class="boxclass" ondrop="drop(event)" ondragover="allowDrop(event)">
      <input id="title" type="text" placeholder="Your section title here" name="label" />
    </div>
  </div>

  <div id="spinner_div" style="align: center; display: none;">
    <p>Your course is being prepared for you.  This may take several minutes to complete.  When the course is finished you will be redirected to your new to your course.  Because you created the course you are set up as the instructor.</p>
	  <img id="spinner" src="/{{=request.application}}/static/images/spinner10.gif" style="display: none;">
  </div>

  <script type="text/javascript">
	  function unhide_img(id) {
      var d = document.getElementById('spinner_div');
      d.style.display = "block";
		  var i = document.getElementById('spinner');
		  i.style.display = "block";
	  }
	</script>
{{pass}}


