{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}


{{if 'message' in globals():}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://kit.fontawesome.com/00f50cd1e9.js" crossorigin="anonymous"></script>
<!-- <h3>{{=message}}</h3> -->

<!-- <p><strong>MAIN</strong> <a href="{{=URL('course')}}">course</a>  <a href="{{=URL('book')}}">book</a> PLS</p> -->
<style>
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 20%;
        padding: 10px;
    }

    .row {
        background-color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h2>{{=message}}</h2>
        <p>
            Welcome to the course designers page.
            You can choose to make a course based on a preexisting book or you can build your own custom textbook from
            one of the current books.
            If you are a student or independent learner you do not need to build a course.
        </p>
        <!-- <a href="{{=URL('course')}}">course</a>  <a href="{{=URL('book')}}">book</a>
        <button onclick="{{=URL('course')}}">TEST</button> -->
        <!-- <form action="{{=URL('course')}}">
            <button type="submit" style="font-size: 16px; background-color: #116cc2; text-align: center; color: white; border-radius: 3px; border: none; padding: 7px; margin-top: 20px;">Build a Course</button>
         </form>
         <form action="{{=URL('book')}}">
            <button type="submit" style="font-size: 16px; background-color: #116cc2; text-align: center; color: white; border-radius: 3px; border: none; padding: 7px; margin: -100px 150px">Create a Custom Textbook</button>
         </form>
         <p> </p> -->
        <div style="display: inline-block; margin: 20px;">
            <div class="row">
                <div class="column" style="width: 350px;">
                    <form action="{{=URL('course')}}">
                        <button type="submit" class = "btn btn-primary"
                            style="font-size: 20px; text-align: center; height: 75px; width: 310px">Build
                            a Course Textbook <i class="fas fa-users"></i></button>
                    </form>
                    <div class="column" style="width: 350px;"></div>
                    <p>Buidling a course allows you to select a book for your own class. Once you have selected and
                        built
                        the
                        book, you will be able to create assignments for your students. These assignments will be
                        publish
                        right
                        in the book. As the instructor, You can grade your students homework, and have access to a
                        dashboard
                        that allows you to monitor student progress. </p>
                </div>

                <div class="column" style="width: 350px;">
                    <form action="{{=URL('book')}}">
                        <button class = "btn btn-primary" type="submit"
                        style="font-size: 20px; text-align: center; height: 75px; width: 310px">Create
                            a Custom Textbook <i class="fas fa-book-open"></i></button>
                    </form>
                    <div class="column" style="width: 350px;"></div>
                    <p>This page can be used to create custom textbooks to fit your classes needs. To start, log into
                        Github.
                        Then, find the textbook you would like and use the clone button which forks the book into your
                        Github.
                        You can use the left hand panel to view the book in its current state and publish it.</p>
                </div>
            </div>

        </div>
    </div>
</div>

{{pass}}

{{block right_sidebar}}

{{end}}