{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}


{{if 'message' in globals():}}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<h3>{{=message}}</h3>

<p><strong>For Instructors ONLY</strong> If you are an independent learner you DO NOT need to build your own course. If you are
    a student and think that building your own course will show you the answers, YOU ARE WRONG.</p>
<p>
    This page allows you to select a book for your own class. Once you have selected and built the book, you will be
    able to create assignments for your students. These assignments
    will be publish
    right in the book. As the instructor, You can grade your students homework, and have access to a dashboard that
    allows you
    to monitor student progress. To begin, enter a course name below. Selecting an appropriate course level will help us
    to recommend questions
    and practice exercises from the question bank.</p>

<script type="text/javascript">
    function validateForm() {
        var x = document.forms["mainform"]["projectname"].value;
        var basecourse = document.forms["mainform"]["coursetype"].value;

        if (x == "" || x.indexOf(" ") !== -1 || x.indexOf("/") > -1) {
            alert('Error:  Your Project Name may not contain spaces or /')
            return false;
        }

        if (!/^([\x30-\x39]|[\x41-\x5A]|[\x61-\x7A]|[_-])*$/.test(x)) {
            alert("Error: Your project name can only contain ASCII letters digits and - or _");
            return false;
        }

        if (basecourse == "") {
            alert('Error: You must select a book for your course')
            return false;
        }

        unhide_img('spinner');
        return true
    }
</script>
<div class='col-md-7'>
    <form name="mainform" action="/{{=request.application}}/{{=request.controller}}/build" method="get"
        onsubmit="return validateForm();">
        <div class="form-group row">
            <div class="col-md-4">
                <label for="projectname">Course Name</label>
                <input type="text" class='form-control' placeholder="myproject" name="projectname" id="projectname" />
            </div>
        </div>
        <p>This will be the name your students use when they register. Make it one word, short (no spaces)</p>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="projectdescription">Description</label>
                <input type="text" class='form-control' placeholder="Enter a short description"
                    name="projectdescription" id="projectdescription" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="institution">Institution</label>
                <input type="text" class='form-control' placeholder="Your school" name="institution" id="institution" />
                <label for="courselevel">Course Level</label>
                <select id="courselevel" class="form-control" name="courselevel">
                    <option value="unknown" disabled selected>Please Select</option>
                    <option value="grad">Graduate</option>
                    <option value="undergradadv">Undergraduate Advanced</option>
                    <option value="undergradintro">Undergraduate Intro (CS1/2)</option>
                    <option value="communitycollege">Community College</option>
                    <option value="high">High School</option>
                    <option value="middle">Middle School</option>
                </select>
            </div>
        </div>

        <br />

        <div class='form-group'>

            <label>
                Choose one of our ready-made books for your course:
            </label>
            <h3>Intro to Computer Science</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="fopp" />
                    Foundations of Python Programming
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="thinkcspy" checked="checked" />
                    How to Think Like a Computer Scientist: Interactive Edition
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="py4e-int" />
                    Python for Everybody by Charles Severance Interactive Edition: Barbara Ericson
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="thinkcpp" />
                    How to Think Like a Computer Scientist: C++ Interactive Version, Allen Downey, Interaction by Barb
                    Ericson
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="csjava" />
                    Introduction to Programming with Java (csjava) - a derivative of CSAwesome for College Students -
                    Adapted by Linda Seiter
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="Subgoals" />
                    Java Subgoals (Subgoals) - Learn Java through Worked Examples and Subgoals with practice - By Briana
                    Morrison
                </label>
            </div>

            <h3>AP Computer Science</h3>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="csawesome" />
                    CS Awesome AP CS A Java Course, by Beryl Hoffman and Barbara Ericson
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="mobilecsp" />
                    Mobile CSP
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="StudentCSP" />
                    CS Principles: Big Ideas in Programming, by Mark Guzdial, Barbara Ericson, and Briana Morrison
                </label>
            </div>

            <h3>Data Structures</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="pythonds3" />
                    Problem Solving with Algorithms and Data Structures using Python (Third Edition), Brad Miller and
                    David Ranum
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="pythonds" />
                    Problem Solving with Algorithms and Data Structures using Python (2nd Edition), Brad Miller and
                    David Ranum
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="cppds" />
                    Problem Solving with Algorithms and Data Structures using C++, Jan Pearce, Brad Miller and David
                    Ranum
                </label>
            </div>

            <h3>Intro to Data Science</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="httlads" />
                    How to Think Like a Data Scientist <strong>Beta</strong>
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="ac1" />
                    Introduction to Google Sheets and SQL
                </label>
            </div>


            <h3>Advanced Topics</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="MasteringDatabases" />
                    Mastering Relational Databases by Libby Shoop
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="webfundamentals" />
                    Fundamentals of Web Development (HTML, CSS, and intro to Javascript), Brad Miller
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="complex" />
                    On Complexity, A remix by Jan Pearce, Based on Think Complexity by Allen Downey and
                    <code>pythonds</code> by Brad Miller and David Ranum
                </label>
            </div>


            <h3>Language Transition Books</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="java4python" />
                    Java for Python Programmers, by Bradley Miller
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="cpp4python" />
                    C++ for Python Programmers, by Jan Pearce and Bradley Miller
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="JS4Python" />
                    Javascript for Python Programmers
                </label>
            </div>

            <h3>Misc</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="technovation" />
                    Technovation -- Virtual Coding Club by Laura Dillon and Andrew McDonald
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="bluebook" />
                    The Runestone Blue Book -- A blank book where you can create your own exams
                </label>
            </div>


            <h3>Math Books</h3>

            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="fcla" />
                    A First Course in Linear Algebra, by Rob Beezer
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="aata" />
                    Abstract Algebra: Theory and Applications by Thomas W. Judson
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="orcca" />
                    Open Resources for Community College Algebra
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="coursetype" value="dmoi" />
                    Discrete Mathematics and Open Introduction
                </label>
            </div>

            <!-- <label>
          OR
        </label>

        <div class="radio">
          <label>
            <input type="radio" name="coursetype" value="custom" />
            Build a Custom Course
          </label>
        </div>  -->
        </div>

        <br />

        <div class='form-group'>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="loginreq" value="true" id="login-req" checked="checked" />
                    Require a username to access this course.
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="allowpairs" value="false" id="allowpairs" />
                    Enable <strong>experimental</strong> pair programming features.
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="instructor" value="yes" checked="checked" />
                    Make me the Instructor of this course.
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label for="startdate">Term start date </label>
                <input type="text" name="startdate" id='startdate' class='form-control' data-date-format="mm/dd/yyyy"
                    placeholder="{{=datetime.date.today().strftime('%m/%d/%Y')}}" onkeydown='return false' />
            </div>
        </div>

        <div class='form-group'>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="invoice" value="false" id="invoice-me" />
                    <strong>Make Runestone Sustainable: </strong>I would be happy to have you invoice my school for a
                    small
                    support fee. If you check this box we will email you an invoice for
                    $10/student registered about a week after your start date. Checking this box is
                    <strong>voluntary!</strong>
                    If you do not want to (or cannot) support Runestone please do not check this box as it just
                    generates extra work.
                    If we could get just $10 for every registered student on Runestone we could
                    focus all our efforts on growing the Runestone platform, the team, adding more books and support for
                    instructors!<br />
                    Thanks for your consideration!
                </label>
            </div>
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>
</div>

<script type="text/javascript">
    $('#startdate').datepicker();
</script>

{{pass}}

{{block right_sidebar}}

{{end}}