{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}


{{if 'message' in globals():}}
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/datepicker.css')}}" />
  <script src="{{=URL('static', 'js/bootstrap-datepicker.js')}}"></script>

  <h3>{{=message}}</h3>

  <p>This page allows you to select a book for your own class.  Once you have selected and built the book, you will also be able to edit
      the table of contents to re-order or remove content, and create assignments for your students.  These assignments will be publish
      right in the book.  As the instructor, You can grade your students homework, and have access to a dashboard that allows you
      to monitor student progress.  To begin, enter a project name below.</p>

  <script type="text/javascript">
  function validateForm() {
    var x = document.forms["mainform"]["projectname"].value;
    var basecourse = document.forms["mainform"]["coursetype"].value;

    if (x == "" || x.indexOf(" ") !== -1 || x.indexOf("/") > -1) {
        alert('Error:  Your Project Name may not contain spaces or /')
        return false;
    }

    if (basecourse == "") {
        alert('Error: You must select a book for your course')
        return false;
    }

    unhide_img('spinner');
    return true
  }
  </script>
  <div class='col-md-7'>
    <form name="mainform" action="/{{=request.application}}/{{=request.controller}}/build" method="get"  onsubmit="return validateForm();">
      <div class="form-group row">
        <div class="col-md-4">
          <label for="projectname">Project Name</label>
          <input type="text" class='form-control' placeholder="myproject" name="projectname" id="projectname" />
        </div>
      </div>
<p>This will be the name your students use when they register.  Make it one word, short (no spaces)</p>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="projectdescription">Description</label>
          <input type="text" class='form-control' placeholder="Enter a short description" name="projectdescription" id="projectdescription" />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <label for="institution">Institution</label>
          <input type="text" class='form-control' placeholder="Your school"
                 name="institution" id="institution" />
        </div>
      </div>

      <br />

      <div class='form-group'>
        <label>
          Choose one of our ready-made books for your course:
        </label>
        <div class="radio">
          <label>
            <input type="radio" name="coursetype" value="thinkcspy" checked="checked" />
            How to Think Like a Computer Scientist: Interactive Edition
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="coursetype" value="pythonds" /> 
            Problem Solving with Algorithms and Data Structures using Python, Brad Miller and David Ranum
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="coursetype" value="fopp" /> 
            Foundations of Python Programming
          </label>
        </div>

         <div class="radio">
            <label>
              <input type="radio" name="coursetype" value="apcsareview" />
              AP CS A Java Review, by Barbara Ericson
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="coursetype" value="webfundamentals" />
              Fundamentals of Web Development (HTML, CSS, and intro to Javascript), Brad Miller
            </label>
          </div>

         <div class="radio">
            <label>
              <input type="radio" name="coursetype" value="StudentCSP" />
              CS Principles: Big Ideas in Programming, by Mark Guzdial, Barbara Ericson, and Briana Morrison
            </label>
          </div>

        <div class="radio">
            <label>
              <input type="radio" name="coursetype" value="java4python" />
              Java for Python Programmers, by Bradley Miller
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="coursetype" value="cppds" /> 
              Problem Solving with Algorithms and Data Structures using C++, Brad Miller, David Ranum and Jan Pearce
            </label>
          </div>
  
        <!-- <label>
          OR
        </label>

        <div class="radio">
          <label>
            <input type="radio" name="coursetype" value="custom" /> 
            Build a Custom Course
          </label>
        </div>  -->
      </div>
      
      <br />

      <div class='form-group'>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="loginreq" value="true" id="login-req" checked="checked" />
            Require a username to access this course.
         </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="python3" value="true" id="python3" checked="checked"  />
            Use Python3 print function and true division
         </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="instructor" value="yes" checked="checked"/>
            Make me the Instructor of this course.
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <label for="startdate">Term start date </label>
          <input type="text" name="startdate" id='startdate' class='form-control' data-date-format="mm/dd/yyyy" placeholder="{{=datetime.date.today().strftime('%m/%d/%Y')}}" onkeydown='return false'/>
        </div>
      </div>

      <input type="submit" class="btn btn-default" value="Submit" /> Your course will be queued for building. This may take a while, please be patient.
    </form>
  </div>

  <script type="text/javascript">
    $('#startdate').datepicker();
  </script>

{{pass}}

{{block right_sidebar}}

{{end}}

