#dashboard {
	font-family: Verdana;
	font-size: 12px;
}
#dashboard text {
	font-size: 0.8em;
}
#dashboard h1 {
    border-bottom: 1px solid #333;
    margin: 0;
    padding: 0.2em;
}
#dashboard h2 {
    margin: 0 0.5em;
}
#dashboard table {
    border: 1px solid #333;
    border-collapse: collapse;
    margin: 1em;
}
#dashboard thead {
    background-color: #e6e6e6;
    font-weight: bold;
    border: 1px solid #333;
}
#dashboard thead td {
    border: 1px solid #333;
}
#dashboard tbody {
    background-color: #f2f2f2;
}
#dashboard tr {
    border-bottom: 1px solid #777;
}
#dashboard td {
    padding: 0.1em 0.5em;
}
#dashboard .nodec tbody {
    background-color: transparent;
}
#dashboard .nodec tr {
    border: none;
}
.dash-nav {
    background-color: #e5e5e5;
    margin-bottom: 1em;
    height: 40px;
    padding-top: 5px;
}
.dash-title-description {
	font-size: 0.6em;
	color: #777777;
}
.dash-section-header {
	/*background: #d7d7d7;*/
	font-size: 14px;
	font-weight: bold;
    padding: 0.2em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #333;
}
.dash-section {
    margin: 1em;
}
.dash-subsection {
    margin: 1em 0;
}
.dash-bar {
    height: 10px;
    text-align: right;
    font-size: 8px;
    color: #ffffff;
    float: left;
}
.dash-bar-container {
    width: 100%;
    height: 12px;
    border: 1px solid #333;
    background-color: #e5e5e5;
}
.dash-bar-correct {
    background-color: #00CC66;
}
.dash-bar-attempts {
    background-color: #CCCC33;
}
.dash-bar-missed {
    background-color: #CC3300;
}
.dash-bar-unread {
    background-color: #CCCCCC;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
#dash-chart-tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 3px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#dash-chart-tooltip.hidden {
    display: none;
}
#dash-chart-tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}