{{extend 'layout.html'}}



This page is a utility for accepting redirects from external services like Spotify or LinkedIn that use oauth. You should have reached this page after authorizing at one of those sites.</br></br>

Normally, you will have reached this site with a python program running on your computer wait for you to paste in the url for this page, which is also printed below. Copy it and paste it into the terminal window where that program is running.


<h1>Copy and paste the whole URL!</h1>
<h2>{{=url}}</h2>

